/*Products dropdown menu*/

/*#tools .d-icon {
    font-size: 1.7511em;
    color: #c2c2c2;
}*/
 
/*a#tools {
    margin-left: 10px;
}*/

.products {
    display: contents !important;
}

.products-caret {
    cursor: pointer;
    border-top: 8px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-top-color: #888888 !important;
    margin-left: 5px;
}

.btn-products {
    font-size: 1.3em;
    font-weight: bold;
    color: #787878;
    text-transform: uppercase;
    margin-left: 10px;
}


.dd-products {
	width: auto;
    position: absolute;
    top: 52px;
    left: 35px;
    background-color: #fff;
    border: #ccc solid;
    padding: 10px 20px 10px 20px;
    display: none;
}

.dd-products-item {
	display: inline-block;
    margin-right: 15px;
    margin-top: 10px;
}   

.dd-products-list-item {
    margin-bottom: -7px;
}

.dd-products-hovered {
    display: inline-block !important;
}

/*.products:hover~.dd-products,
.products-caret:hover~.dd-products,
.dd-products:hover {
	display: inline-block !important;
}*/

.search-header {
    margin-left: 270px !important;
}

.dd-products ul {
    list-style: none;
    margin-left: 0px !important;
}

.dd-products .dd-products-title {
    font-weight: bold;
    font-size: 20px !important;
}

header.hide-menus .products,
header.hide-menus .products-caret {
    display: none;
}

.extra-info-wrapper {
    width: 75em;
}

.d-header #site-logo {
    max-width: unset !important;
}

/*End Products dropdown menu*/

/*New topic button style*/

html.anon .list-controls .nav-pills .navigation-toggle {
    margin-bottom: 4px;
}

html.anon #new-create-topic {
    font-size: 1em !important;
}

.topic-area #new-create-topic {
    margin-bottom: 10px !important;
    float: unset !important;
}

html.anon #new-create-topic .d-button-label {
    padding-top: 5px;
    padding-bottom: 5px;
}

/*End New topic button style*/

/*tag-sidebar custom style*/

body.custom-sidebar .tag-sidebar .cooked {
    padding-top: 25px;
    margin-left: 12px !important;
    margin-right: 12px !important;

}

body.custom-sidebar .tag-sidebar .tag-sidebar-webMethods .cooked {
   margin-left: auto !important;
}

/*End tag-sidebar custom style*/

//style anon welcome banner 
#banner-content ul li {
    list-style: none;
    margin-bottom: 10px;
}

/*topic page*/
/*.topic-header-extra .discourse-tag.box {
    margin-bottom: 5px;
}*/

/*end topic page*/

