//TECHcommunity-customizations - mobile.scss

/*Products dropdown menu*/
.products {
    display: contents !important;
}

.products-caret {
    cursor: pointer;
    border-top: 8px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-top-color: #888888 !important;
    margin-left: 5px;
}

.btn-products {
    font-size: 1.3em;
    font-weight: bold;
    color: #787878;
    text-transform: uppercase;
    margin-left: 10px;
}


.dd-products {
    width: auto;
    position: absolute;
    top: 52px;
    left: 35px;
    background-color: #fff;
    border: #ccc solid;
    padding: 10px 20px 10px 20px;
    display: none;
	
    ul {
      list-style: none;
      margin-left: 0px !important;
    }
	
    .dd-products-title {
      font-weight: bold;
      font-size: 20px !important;
    }
}

.dd-products-item {
    display: inline-block;
    margin-right: 15px;
    margin-top: 10px;
}   

.dd-products-list-item {
    margin-bottom: -7px;
}

.dd-products-hovered {
    display: inline-block !important;
}

//Property commented to display search section full width for the mobile view [Modified by Saurabh; Date: 23-12-2021]
.search-header {
    //margin-left: 270px !important;
}

header.hide-menus {
    .products-caret, .products {
        display: none !important;
    }
}

.extra-info-wrapper {
    width: 75em !important;
}

.d-header {
    #site-logo {
       max-width: unset !important;
    }
	
    .dd-sections, .sections-techcomm {	
       display: none !important;	
    }
}

/*End Products dropdown menu*/

/*New topic button style*/

html.anon {
    .list-controls .nav-pills .navigation-toggle {
       margin-bottom: 4px;
    }
	
    #new-create-topic {
       font-size: 1em !important;
	    
       .d-button-label {
           padding-top: 5px;
           padding-bottom: 5px;
        }
    }
}

.topic-area {
    #new-create-topic {
       margin-bottom: 10px !important;
       float: unset !important;
    }
}

/*End New topic button style*/

/*tag-sidebar custom style*/

body.custom-sidebar .tag-sidebar {
    .cooked {
       padding-top: 25px;
       margin-left: 12px !important;
       margin-right: 12px !important;
    }
	
    .tag-sidebar-webMethods {
	.cooked {
           margin-left: auto !important;
        }
     }
}

/*End tag-sidebar custom style*/

/*Alfabet user section*/
body.category.category-alfabet-alfabet-deep-dive-feature-trainings,
body.category.category-alfabet-alfabet-release-information,
body.category.category-alfabet-alfabet-cookbook-use-cases,
body.category.category-alfabet-alfabet-user-group-meetings,
body.category.category-alfabet-alfabet-newsletter {
    .topic-list {
       .topic-list-item {
	    .pull-left {
    		display: none !important;
             }
	       
	     .right {
   		margin-left: 0px !important;
	     }
	}
    }
}

/*end alfabet user section*/

//style anon welcome banner 
#banner-content {
    ul {
      li {
        list-style: none;
        margin-bottom: 10px;
      }
    }
}


html.anon .d-header .d-header-icons .search-dropdown {
    right: 130px !important;
}

.d-header {
    .d-header-icons {
       .search-dropdown {
          right: 90px !important;
	}
    }
	
    .header-buttons {
	.try-free {
	   display: none !important;
	 }
    }
}

body.category-news {
    &:not(.staff) {
      .topic-meta-data {
         margin-top: -35px;
      }
    }
}

body:not(.tags-page) {
	.navigation-container {
		li.solved-status-filter {
    			margin-top: 10px !important;
   			 margin-left: 0px !important;
		}
	}
}

ol.category-breadcrumb {
    margin-left: 0px !important;
}

html.anon .d-header .products-caret {
    display: none !important;
}

.b-header .header-dropdown-toggle {
    display: none;
}

.topic-list-body .topic-list-item td {
    padding: 10px;
}

.topic-list .topic-item-stats {
    display: block !important;
}

.list-controls .navigation-controls .notifications-button summary.btn {
    .select-kit-selected-name.selected-name {
        margin-top: 0px !important;
    }
    
    &:after {
        right: 1.7px !important;
    }
}

body.tags-page.category-forum {
    .category-breadcrumb {
            .combo-box.tag-drop {
                margin-left: -176px;
            }
            
            .solved-status-filter {
                margin-left: 0px !important;
            }
    }
}

body.tag-banner.tags-page {
    .category-breadcrumb {
        .combo-box.tag-drop {
            margin-left: -176px;
        }
            
    }
}

// ------ CSS Moved From The "my component - mobile.scss" [Date: 11-02-2022] ------------
//Added the bottom margin for the tags in the topic list
.mobile-view .topic-list-item .discourse-tags .discourse-tag.box {
    margin-bottom: 2px;
}

//fix https://meta.discourse.org/t/discourse-tab-bar-for-mobile/75696
html:not(.anon) #topic-progress-wrapper.docked {
    margin-bottom: 0 !important;
}
// ------ End of CSS Moved From The "my component" ------------

/** Votes text/box Align CSS [Date: 27-09-2022] **/
.vote-count-wrapper {
    min-height: 34px !important;
}
#topic-title {
    .discourse-tag.list-vote-count {
        margin-top: 2.5px !important;
    }    
}

.topic-list-item {
    .discourse-tag.list-vote-count {
        padding: 2px 10px 2px 0px;
    } 
} 

//Customize the topic-thumbnails-masonry under Blog category. [Added By: Saurabh, Date: 09/01/2023] 
//Show max three rows of tags in the Blog boxes [Date: 09-01-2023]
body.category.category-knowledge-base-blog {
    .topic-list.topic-thumbnails-masonry .topic-list-body {
        tr.topic-list-item { 
            .discourse-tags {
                max-height: 5em;
                overflow: hidden;
            }
        }
    }
}