//TECHcommunity-customizations - mobile.scss

/*Products dropdown menu*/
.products {
    display: contents !important;
}

.products-caret {
    cursor: pointer;
    border-top: 8px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-top-color: #888888 !important;
    margin-left: 5px;
}

.btn-products {
    font-size: 1.3em;
    font-weight: bold;
    color: #787878;
    text-transform: uppercase;
    margin-left: 10px;
}


.dd-products {
    width: auto;
    position: absolute;
    top: 52px;
    left: 35px;
    background-color: #fff;
    border: #ccc solid;
    padding: 10px 20px 10px 20px;
    display: none;
	
    ul {
      list-style: none;
      margin-left: 0px !important;
    }
	
    .dd-products-title {
      font-weight: bold;
      font-size: 20px !important;
    }
}

.dd-products-item {
    display: inline-block;
    margin-right: 15px;
    margin-top: 10px;
}   

.dd-products-list-item {
    margin-bottom: -7px;
}

.dd-products-hovered {
    display: inline-block !important;
}

.search-header {
    margin-left: 270px !important;
}

header.hide-menus {
    .products-caret, .products {
        display: none !important;
    }
}

.extra-info-wrapper {
    width: 75em !important;
}

.d-header {
    #site-logo {
       max-width: unset !important;
    }
	
    .dd-sections, .sections-techcomm {	
       display: none !important;	
    }
}

/*End Products dropdown menu*/

/*New topic button style*/

html.anon {
    .list-controls .nav-pills .navigation-toggle {
       margin-bottom: 4px;
    }
	
    #new-create-topic {
       font-size: 1em !important;
	    
       .d-button-label {
           padding-top: 5px;
           padding-bottom: 5px;
        }
    }
}

.topic-area {
    #new-create-topic {
       margin-bottom: 10px !important;
       float: unset !important;
    }
}

/*End New topic button style*/

/*tag-sidebar custom style*/

body.custom-sidebar .tag-sidebar {
    .cooked {
       padding-top: 25px;
       margin-left: 12px !important;
       margin-right: 12px !important;
    }
	
    .tag-sidebar-webMethods {
	.cooked {
           margin-left: auto !important;
        }
     }
}

/*End tag-sidebar custom style*/

/*Alfabet user section*/
body.category.category-alfabet-alfabet-deep-dive-feature-trainings,
body.category.category-alfabet-alfabet-release-information,
body.category.category-alfabet-alfabet-cookbook-use-cases,
body.category.category-alfabet-alfabet-user-group-meetings,
body.category.category-alfabet-alfabet-newsletter {
    .topic-list {
       .topic-list-item {
	    .pull-left {
    		display: none !important;
             }
	       
	     .right {
   		margin-left: 0px !important;
	     }
	}
    }
}

/*end alfabet user section*/

//style anon welcome banner 
#banner-content {
    ul {
      li {
        list-style: none;
        margin-bottom: 10px;
      }
    }
}


html.anon .d-header .d-header-icons .search-dropdown {
    right: 130px !important;
}

.d-header {
    .d-header-icons {
       .search-dropdown {
          right: 90px !important;
	}
    }
	
    .header-buttons {
	.try-free {
	   display: none !important;
	 }
    }
}

body.category-news {
    &:not(.staff) {
      .topic-meta-data {
         margin-top: -35px;
      }
    }
}

body:not(.tags-page) {
	.navigation-container {
		li.solved-status-filter {
    			margin-top: 10px !important;
   			 margin-left: 0px !important;
		}
	}
}

ol.category-breadcrumb {
    margin-left: 0px !important;
}

// Resolved the issue of ovelapping Header navigation over the Subscribe/All sections/All tags drop-down popup [Added by: Saurabh; Date: 23-12-2021]
body {
    .list-controls {
        z-index: auto;
    }
    .select-kit{
        &.notifications-button.tag-notifications-button.is-expanded, &.category-drop.is-expanded, &.tag-drop.is-expanded {
            z-index: auto;
            .select-kit-body {
                z-index: 1001;
            }
        }
    }
}

// Binjan; Show content (Advance options) for Advance Search button; 22.12.2021
.search-menu .search-input {
    input#search-term {
        padding-right: 150px; 
    }
    a.show-advanced-search:after {
        content: ' Advanced options';
    }
}
