 @import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap);

/*Customize topics in a news category*/

//hide avatar flair
.category-news .avatar-flair,
.category-news .tl-avatar-flair {
    display: none !important;
}

//remove author info if it is a regular user
body.category-news:not(.staff) #post_1 .trigger-user-card,
body.category-news:not(.staff) #post_1 .topic-avatar {
    display:none;
}

body.category-news:not(.staff) #post_1 .topic-meta-data {
    margin-left: -7px !important;   
}

body.category-news #topic-title {
    justify-content: normal !important;
}

//hide suggested topic and share\bookmark\flag\notification buttons
.category-news #topic-footer-buttons,
.category-news .suggested-topics-wrapper {
    display: none;
}

.category-news .topic-status-info {
    border-top: 0 !important;
}

body.category-news #navigation-bar li[title="Topics that have not been answered"] {
    display: none;
}

/*end customize topics*/

/*Customize tags page*/

//make tags box wider
.tags-list .discourse-tag {
	max-width: 15em !important;
}

.tags-list .tag-box {
    width: 270px;
}

.tags-list {
    margin-top: 1em!important;
}

//move sort by option
.tag-sort-options {
	float: right;
	margin-top: -37px;
	margin-right: 80px;
}

/*end customize tags page*/

/*small misc changes*/

//make category description wider
.category-title-contents {
	max-width: 1000px !important;
}


//make solved checkbox green and bigger
.topic-statuses {
    margin-bottom: -5px;
}
.d-icon-far-check-square {
    color: #7fc02a; //color: #ffffff;
    height: 0.96em !important;
    width: 0.91em !important;
    //background-color: #7fc02a;
    //border-radius: 3px;
    margin-top: 0.16em;
    //margin-bottom: 0px;
}
.topic-list-icons .d-icon-thumbtack.unpinned, .latest-topic-list .d-icon-thumbtack.unpinned, .top-topic-list .d-icon-thumbtack.unpinned, .topic-list .d-icon-thumbtack.unpinned {
    top: -2px;
}

//make smaller solved/unsolved dropdown filter on forum discussion category
.solved-status-filter .select-kit,
.solved-status-filter .select-kit-collection{
	min-width: 73px !important;
}


//hide views column on home page
.topic-list .views {
    display: none;
}

//hide no-tags option in tags dropdown menu
.select-kit.combo-box.tag-drop .select-kit-row[data-value="no-tags"] {
    display: none;
}

//make tags box wider just on topic pages
.link-bottom-line .discourse-tag,
.topic-header-extra .discourse-tag{
	max-width: 20em !important;
}


//change places of tags and categories dropdown menus
ol.category-breadcrumb {
    display: flex !important;
}

/*ol.category-breadcrumb .tag-drop {
    order: 1;
}
ol.category-breadcrumb .category-drop {
    order: 2;
}*/

ol.category-breadcrumb .solved-status-filter {
    order: 3;
}

.category-news .topic-body,p
.category-knowledge-base .topic-body {
    background-color: #ffffff !important;
}


//custom CSS for tables and links in posts
[data-techcommunity-table] table td {
    border: 1px solid #e9e9e9;
} 

[data-techcommunity-button] a {
    border-radius: 15px 0 15px 0;
    color: #ffffff;
    background-color: #0899cc;
    padding: 8px 20px;
    font-size: 1.6rem;
}

[data-techcommunity-product-tags] a {
    color: #000000;
    background-color: #e9e9e9;
    padding: 8px 12px;
    line-height: 1.1;
    font-size: 1rem;
    vertical-align: -webkit-baseline-middle;
    display: inline-block;
    margin-bottom: 5px;
}

//hide number of clicks displayed after links
.clicks {
    display: none;
}

//hide edits on news topic for non staff
body.category-news:not(.staff) .topic-area .edits {
	display: none;
}

//move date on news topic for non staff
body.category-news:not(.staff) .topic-meta-data {
	float: right;
	margin-top: -29px;
}

body.category-news .topic-area .returning-user {
    display: none;
}

body.category-news:not(.staff) #topic-title {
    margin-bottom: 0px !important;
}

//hide replies column in news category
body.category-news .topic-list .posts {
    display: none;
}


//change color of links in titles
.topic-body h1 a, .topic-body h2 a, .topic-body h3 a, .topic-body h4 a, .topic-body h5 a, .topic-body h6 a {
    color: #222 !important;
}

//hide tag info button 
body:not(.staff) #show-tag-info {
    display: none !important;
}

//Versatile banner custom style
.single-box a {
    color: #011f3d !important;
    background-color: #f2f2ea;
    display: block;
    width: 250px;
    padding: 10px 0px;
    margin: 0 auto;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.single-box a:hover {
    box-shadow: 1px 1px 3px 1px #ffffff3d;
    color: #9a50f8 !important;
}

//change background color and font size on tag sidebar
.tag-title-header {
    background-color: #f2f2ea !important;
}

.tag-title-header .tag-title-contents h1 {
    font-size: 1.22em !important;
    text-transform: uppercase;
}

#banner {
    background-color: #f2f2ea;
}

.custom-footer {
    background: #011f3d !important;
}

.cc-color-override--659527902.cc-window {
    background: #1c5569 !important;
    border-top: 1px solid #fff;
}
.cc-color-override--659527902 .cc-btn {
    //background: #1cd469 !important;
    background: #D9EC27 !important;
}

.signup-cta {
    margin-bottom: 1em !important;
}

//hide delete my account button on user preferences page
.user-preferences-page .delete-account .btn-danger {
	display: none !important;
}

/*end small misc changes*/


/*New topic button*/

//place create new topic button on forum discussions topic pages and change its style
#new-create-topic {
    float: right;
    font-size: 1.1487em !important;
    background-color: #3cc1b7 !important;
    color: #011f3d !important;
    font-weight: bold !important;
}

#new-create-topic .svg-icon {
    color: #011f3d !important;
   // height: 0.8em !important;
    width: 0.8em !important;
}

//change create topic button style on homepage
#create-topic {
    background-color: #3cc1b7 !important;
    color: #011f3d !important;
    font-weight: bold !important;
}

#create-topic .svg-icon {
    color: #011f3d !important;
 //   height: 0.8em !important;
    width: 0.8em !important;
 //   vertical-align: 0 !important;
}


body.category-news:not(.staff) #new-create-topic,
body.category-news:not(.staff) #create-topic,
html:not(.anon) .before-create-topic-button-outlet #new-create-topic{
    display: none !important;
}

@media (max-width: 850px){
#new-create-topic span {
    display: inline-block !important;
}
}

/*end New topic button*/


/*Try free button and dropdown menu in header*/

.try-free a {
    //padding: 8px 18px 8.5px 18px !important;
    font-weight: bold !important;
    //margin-right: 5px;
    //background-color: #3cc1b7;
    //background-color: #d9ec27;
    color: #011f3d !important;
    //display: inline-block;
    //line-height: 1;
    //font-size: 14px !important;
}

.custom-header-links .try-free {
    padding: 8.3px 18px 6.8px 18px !important;
    background-color: #d9ec27;
}

.try-free:hover {
    background-color: #abbb17 !important;
    transition: all 0.25s;
}

/*Hide dropdown menu*/
/*.dropdown-try-free-menu {
    display: none;
    position: absolute;
    top: 100px;
    left: 1px;
    width: 280px;
    padding: 15px 0;
    margin: -55px;
    list-style: none;
    background: #ffffff;
    background-clip: border-box;
    border: 1px #ccc solid;
    z-index: 1001;
}

.dd-try-free {
    color: #fff;
    margin-left: 25px;
}

.dd-try-free a {
    color: #333 !important;
}

.custom-header-links:hover+.dropdown-try-free-menu,
.dropdown-try-free-menu:hover {
	display: block !important;
}

.custom-header-links {
     height: 45px
}*/

/*End try free button and dropdown menu in header*/

/*tag-sidebar custom style*/
body.custom-tag-sidebar .tag-sidebar {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    background-color: #f2f2ea;
    color: #000;
    margin-top: -20px;
    margin-bottom: 15px;
}

body.custom-tag-sidebar .tag-sidebar .cooked {
    max-width: 1100px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
}

body.custom-tag-sidebar .wrap::before {
    display: none !important;
}

body.custom-tag-sidebar .tag-header-widget {
    display: none;
}

body.custom-sidebar #navigation-bar a[href='/top'],
body.custom-sidebar #navigation-bar a[href='/categories']{
    display: none;
}

//.custom-sidebar .latest-topics-link,
//.custom-sidebar .new-topics-link,
//.custom-sidebar .unread-topics-link,
//.custom-sidebar .top-topics-link,
//.custom-sidebar .category-drop,
.custom-sidebar .tag-title-header,
body.category-header .tag-sidebar,
body.navigation-topics .tag-sidebar {
    display: none !important;
}

.tag-sidebar [data-techcommunity-product-tags] a {
    background-color: #fff !important;
}

.tag-sidebar [data-techcommunity-product-tags] a:hover {
    color: #fff !important;
    background: #9a50f8 !important;
    transition: all .3s ease;
}

/*end tag-sidebar custom style*/


/*webmethods tag-sidebar box elements style*/
div[data-webmethods-tag-box] {
    border: 3px solid #ccc;
	width: 300px;
	height: 190px;
	margin: 0 16px 16px 0;
    display: inline-table;
    background-color: #fff;
}
 
div[data-webmethods-tag-box] h3 {
    color: #000 !important;
    text-align: center;
    margin-top: 15px !important;
}

div[data-webmethods-tag-box-element] {
    margin-left: 30px;
    margin-top: 12px;
}

div[data-webmethods-tag-box-element] a {
    	display: block;
	color: #787878 !important;
	text-decoration: none;
	text-align: left;
}

/*End webmethods tag-sidebar box elements style*/

/*Navigation changes*/
button.widget-button.btn.btn-primary.btn-small.sign-up-button.btn-text,
.d-header .d-header-icons li.vdm {
    display: none !important;
}

.d-header .login-button .fa {
    display: none;
}

.d-header .login-button .d-button-label {
    color: #011f3d !important;
    font-weight: bold !important;
}

.header-buttons .login-button {
    padding: 8.3px 18px 6.8px 18px !important
}

html.anon .d-header .d-header-icons .search-dropdown {
    position: absolute !important;
    right: 224px;
}

.header-buttons {
    margin-top: 0px !important;
}

.d-header .d-header-icons .d-icon-search {
    color: var(--header_primary-medium) !important;
}

.d-header .d-header-icons .d-icon-search:hover,
.d-header .d-header-icons #search-button:hover .d-icon-search{
    color: var(--primary-high) !important;
}

.d-header {
	background-color: var(--header_background) !important;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.12) !important;
}

.search-menu .menu-panel {
    width: 700px !important;
}

/*End navigation changes*/

body.category.archetype-regular.category-knowledge-base .cooked h1, 
body.category.archetype-regular.category-knowledge-base .cooked h2, 
body.category.archetype-regular.category-knowledge-base .cooked h3, 
body.category.archetype-regular.category-knowledge-base .cooked h4, 
body.category.archetype-regular.category-knowledge-base .cooked h5, 
.cooked h6, 
.d-editor-preview h1, 
body.category.archetype-regular.category-knowledge-base .d-editor-preview h2, 
body.category.archetype-regular.category-knowledge-base .d-editor-preview h3, 
body.category.archetype-regular.category-knowledge-base .d-editor-preview h4, 
body.category.archetype-regular.category-knowledge-base .d-editor-preview h5, 
body.category.archetype-regular.category-knowledge-base .d-editor-preview h6 {
    margin: 24px 0 10px;
}

.tag-title-header {
    padding-top: 0px !important;
}

body.archetype-regular.category-news:not(.staff) span[title="This topic is unlisted; it will not be displayed in topic lists, and can only be accessed via a direct link"] {
    display: none !important;
}

iframe {
    max-width: unset !important;
}

div[data-wrap="webmethods-int-trial"] a:first-child {
    margin-top: -15px;
}

div[data-wrap="webmethods-int-trial"] img {
    width: 115px !important;
    height: 115px !important;
}

body.category.archetype-regular .topic-area span div.topic-above-posts-outlet div.post-stream button#new-create-topic {
 display: none !important;
}

body.category-knowledge-base li[title="Topics that have not been answered"] {
    display: none !important;
}

/*Alfabet user group category changes*/
body.category.category-alfabet-alfabet-deep-dive-feature-trainings .topic-list .default,
body.category.category-alfabet-alfabet-deep-dive-feature-trainings .topic-list .posters,
body.category.category-alfabet-alfabet-deep-dive-feature-trainings .topic-list .posts,
body.category.category-alfabet-alfabet-deep-dive-feature-trainings .topic-list .likes,
body.category.category-alfabet-alfabet-deep-dive-feature-trainings .topic-list .views,
body.category.category-alfabet-alfabet-deep-dive-feature-trainings .topic-list .activity,
body.category.category-alfabet-alfabet-deep-dive-feature-trainings #navigation-bar,
body.category.category-alfabet-alfabet-deep-dive-feature-trainings .tag-drop,
body.category.category-alfabet-alfabet-deep-dive-feature-trainings .solved-status-filter,

body.category.category-alfabet-alfabet-release-information .topic-list .default,
body.category.category-alfabet-alfabet-release-information .topic-list .posters,
body.category.category-alfabet-alfabet-release-information .topic-list .posts,
body.category.category-alfabet-alfabet-release-information .topic-list .likes,
body.category.category-alfabet-alfabet-release-information .topic-list .views,
body.category.category-alfabet-alfabet-release-information .topic-list .activity,
body.category.category-alfabet-alfabet-release-information #navigation-bar,
body.category.category-alfabet-alfabet-release-information .tag-drop,
body.category.category-alfabet-alfabet-release-information .solved-status-filter,

body.category.category-alfabet-alfabet-cookbook-use-cases .topic-list .default,
body.category.category-alfabet-alfabet-cookbook-use-cases .topic-list .posters,
body.category.category-alfabet-alfabet-cookbook-use-cases .topic-list .posts,
body.category.category-alfabet-alfabet-cookbook-use-cases .topic-list .likes,
body.category.category-alfabet-alfabet-cookbook-use-cases .topic-list .views,
body.category.category-alfabet-alfabet-cookbook-use-cases .topic-list .activity,
body.category.category-alfabet-alfabet-cookbook-use-cases #navigation-bar,
body.category.category-alfabet-alfabet-cookbook-use-cases .tag-drop,
body.category.category-alfabet-alfabet-cookbook-use-cases .solved-status-filter,

body.category.category-alfabet-alfabet-user-group-meetings .topic-list .default,
body.category.category-alfabet-alfabet-user-group-meetings .topic-list .posters,
body.category.category-alfabet-alfabet-user-group-meetings .topic-list .posts,
body.category.category-alfabet-alfabet-user-group-meetings .topic-list .likes,
body.category.category-alfabet-alfabet-user-group-meetings .topic-list .views,
body.category.category-alfabet-alfabet-user-group-meetings .topic-list .activity,
body.category.category-alfabet-alfabet-user-group-meetings #navigation-bar,
body.category.category-alfabet-alfabet-user-group-meetings .tag-drop,
body.category.category-alfabet-alfabet-user-group-meetings .solved-status-filter,

body.category.category-alfabet-alfabet-newsletter .topic-list .default,
body.category.category-alfabet-alfabet-newsletter .topic-list .posters,
body.category.category-alfabet-alfabet-newsletter .topic-list .posts,
body.category.category-alfabet-alfabet-newsletter .topic-list .likes,
body.category.category-alfabet-alfabet-newsletter .topic-list .views,
body.category.category-alfabet-alfabet-newsletter .topic-list .activity,
body.category.category-alfabet-alfabet-newsletter #navigation-bar,
body.category.category-alfabet-alfabet-newsletter .tag-drop,
body.category.category-alfabet-alfabet-newsletter .solved-status-filter,

body.category.category-alfabet .tag-drop,
body.category.category-alfabet .solved-status-filter,
body.category.category-alfabet #navigation-bar,
body.category.category-alfabet .category-box .category-details .description,
body.category.category-alfabet .category-box .category-details .category-box-heading .d-icon,
body.category.category-alfabet #banner,
body.category.category-alfabet .topic-list,
body.category.category-alfabet #main-outlet footer.topic-list-bottom
{
	display: none !important;
}

body.category.category-alfabet .category-boxes .category-box .category-box-inner {
    padding: 3em !important;
}

body.archetype-regular.category-alfabet-alfabet-deep-dive-feature-trainings #new-create-topic,
body.archetype-regular.category-alfabet-alfabet-deep-dive-feature-trainings .topic-meta-data,
body.archetype-regular.category-alfabet-alfabet-deep-dive-feature-trainings .topic-avatar,
body.archetype-regular.category-alfabet-alfabet-deep-dive-feature-trainings .timeline-container,
body.archetype-regular.category-alfabet-alfabet-deep-dive-feature-trainings .suggested-topics-wrapper,
body.archetype-regular.category-alfabet-alfabet-deep-dive-feature-trainings #banner,
body.archetype-regular.category-alfabet-alfabet-deep-dive-feature-trainings .topic-notifications-button .reason,

body.archetype-regular.category-alfabet-alfabet-release-information #new-create-topic,
body.archetype-regular.category-alfabet-alfabet-release-information .topic-meta-data,
body.archetype-regular.category-alfabet-alfabet-release-information .topic-avatar,
body.archetype-regular.category-alfabet-alfabet-release-information .timeline-container,
body.archetype-regular.category-alfabet-alfabet-release-information .suggested-topics-wrapper,
body.archetype-regular.category-alfabet-alfabet-release-information #banner,
body.archetype-regular.category-alfabet-alfabet-release-information .topic-notifications-button .reason,

body.archetype-regular.category-alfabet-alfabet-cookbook-use-cases #new-create-topic,
body.archetype-regular.category-alfabet-alfabet-cookbook-use-cases .topic-meta-data,
body.archetype-regular.category-alfabet-alfabet-cookbook-use-cases .topic-avatar,
body.archetype-regular.category-alfabet-alfabet-cookbook-use-cases .timeline-container,
body.archetype-regular.category-alfabet-alfabet-cookbook-use-cases .suggested-topics-wrapper,
body.archetype-regular.category-alfabet-alfabet-cookbook-use-cases #banner,
body.archetype-regular.category-alfabet-alfabet-cookbook-use-cases .topic-notifications-button .reason,

body.archetype-regular.category-alfabet-alfabet-user-group-meetings #new-create-topic,
body.archetype-regular.category-alfabet-alfabet-user-group-meetings .topic-meta-data,
body.archetype-regular.category-alfabet-alfabet-user-group-meetings .topic-avatar,
body.archetype-regular.category-alfabet-alfabet-user-group-meetings .timeline-container,
body.archetype-regular.category-alfabet-alfabet-user-group-meetings .suggested-topics-wrapper,
body.archetype-regular.category-alfabet-alfabet-user-group-meetings #banner,
body.archetype-regular.category-alfabet-alfabet-user-group-meetings .topic-notifications-button .reason,

body.archetype-regular.category-alfabet-alfabet-newsletter #new-create-topic,
body.archetype-regular.category-alfabet-alfabet-newsletter .topic-meta-data,
body.archetype-regular.category-alfabet-alfabet-newsletter .topic-avatar,
body.archetype-regular.category-alfabet-alfabet-newsletter .timeline-container,
body.archetype-regular.category-alfabet-alfabet-newsletter .suggested-topics-wrapper,
body.archetype-regular.category-alfabet-alfabet-newsletter #banner,
body.archetype-regular.category-alfabet-alfabet-newsletter .topic-notifications-button .reason{
    display: none !important;
}

body.category-alfabet:not(.staff) #create-topic,
body.category-alfabet-alfabet-deep-dive-feature-trainings:not(.staff) #create-topic,
body.category-alfabet-alfabet-cookbook-use-cases:not(.staff) #create-topic,
body.category-alfabet-alfabet-release-information:not(.staff) #create-topic,
body.category-alfabet-alfabet-newsletter:not(.staff) #create-topic,
body.category-alfabet-alfabet-user-group-meetings:not(.staff) #create-topic {
    display: none !important;
}
/*End Alfabet user group category changes*/

/*Tag pages*/
body.tags-page:not([class*="category-"]) li[title="Topics that have not been answered"] {
    display: none !important;
}

body.tags-page li[title="topics you have bookmarked"] {
    display: none !important;
}

body.custom-sidebar.tags-page .contents>.topic-list .category-sidebar {
    display: none !important;
}

body.tags-page:not([class*="category-"]) .category-drop {
    display: none !important;
}

body.tags-page.category-forum .category-drop,
body.tags-page.category-news .category-drop {
    display: none !important;
}

ul.nav.compact-version .navigation-toggle{
    background: rgb(247, 247, 247) !important;
    margin-right: 1em !important;
}

ul.nav.compact-version .navigation-toggle a:hover{
    background: rgb(247, 247, 247) !important;
}

ul.nav.compact-version .drop li[title="all topics grouped by category"] {
    display: none !important;
}

ul.nav.compact-version .navigation-toggle a {
	font-size: 1.1487em !important;
	padding: 0 0.25em 0 0.5em !important;
}

ul.compact-version .navigation-toggle a svg {
    margin-right: unset !important;
}

/*ul.nav.compact-version .navigation-toggle {
	height: 28px;
}*/

@media screen and (min-width: 767px) {
.custom-sidebar .contents>.topic-list thead {
    grid-area: unset !important;
}
	
body:not(.category-knowledge-base).custom-sidebar .contents>.topic-list tbody {
    grid-area: unset !important;
}
}
/*End tag pages*/

/*webmethods-connectors category*/


body.categories-list.category.category-webmethods-cloudstreams-connectors #header-list-area .category-box-inner svg.fa,
body.categories-list.category.category-webmethods-cloudstreams-connectors #header-list-area .category-box-inner .featured-topics,


body.categories-list.category.category-webmethods-cloudstreams-connectors #navigation-bar li[title="Topics that have not been answered"],
body.category.category-webmethods-cloudstreams-connectors-a #navigation-bar li[title="Topics that have not been answered"],
body.category.category-webmethods-cloudstreams-connectors-c #navigation-bar li[title="Topics that have not been answered"],
body.category.category-webmethods-cloudstreams-connectors-d #navigation-bar li[title="Topics that have not been answered"],
body.category.category-webmethods-cloudstreams-connectors-e #navigation-bar li[title="Topics that have not been answered"],
body.category.category-webmethods-cloudstreams-connectors-f #navigation-bar li[title="Topics that have not been answered"],
body.category.category-webmethods-cloudstreams-connectors-g #navigation-bar li[title="Topics that have not been answered"],
body.category.category-webmethods-cloudstreams-connectors-i #navigation-bar li[title="Topics that have not been answered"],
body.category.category-webmethods-cloudstreams-connectors-j #navigation-bar li[title="Topics that have not been answered"],
body.category.category-webmethods-cloudstreams-connectors-l #navigation-bar li[title="Topics that have not been answered"],
body.category.category-webmethods-cloudstreams-connectors-m #navigation-bar li[title="Topics that have not been answered"],
body.category.category-webmethods-cloudstreams-connectors-n #navigation-bar li[title="Topics that have not been answered"],
body.category.category-webmethods-cloudstreams-connectors-o #navigation-bar li[title="Topics that have not been answered"],
body.category.category-webmethods-cloudstreams-connectors-r #navigation-bar li[title="Topics that have not been answered"],
body.category.category-webmethods-cloudstreams-connectors-s #navigation-bar li[title="Topics that have not been answered"],
body.category.category-webmethods-cloudstreams-connectors-t #navigation-bar li[title="Topics that have not been answered"],
body.category.category-webmethods-cloudstreams-connectors-w #navigation-bar li[title="Topics that have not been answered"],
body.category.category-webmethods-cloudstreams-connectors-z #navigation-bar li[title="Topics that have not been answered"],

body.categories-list.category.category-webmethods-cloudstreams-connectors #navigation-bar li[title="topics with recent posts"],
body.category.category-webmethods-cloudstreams-connectors-a #navigation-bar li[title="topics with recent posts"],
body.category.category-webmethods-cloudstreams-connectors-c #navigation-bar li[title="topics with recent posts"],
body.category.category-webmethods-cloudstreams-connectors-d #navigation-bar li[title="topics with recent posts"],
body.category.category-webmethods-cloudstreams-connectors-e #navigation-bar li[title="topics with recent posts"],
body.category.category-webmethods-cloudstreams-connectors-f #navigation-bar li[title="topics with recent posts"],
body.category.category-webmethods-cloudstreams-connectors-g #navigation-bar li[title="topics with recent posts"],
body.category.category-webmethods-cloudstreams-connectors-i #navigation-bar li[title="topics with recent posts"],
body.category.category-webmethods-cloudstreams-connectors-j #navigation-bar li[title="topics with recent posts"],
body.category.category-webmethods-cloudstreams-connectors-l #navigation-bar li[title="topics with recent posts"],
body.category.category-webmethods-cloudstreams-connectors-m #navigation-bar li[title="topics with recent posts"],
body.category.category-webmethods-cloudstreams-connectors-n #navigation-bar li[title="topics with recent posts"],
body.category.category-webmethods-cloudstreams-connectors-o #navigation-bar li[title="topics with recent posts"],
body.category.category-webmethods-cloudstreams-connectors-r #navigation-bar li[title="topics with recent posts"],
body.category.category-webmethods-cloudstreams-connectors-s #navigation-bar li[title="topics with recent posts"],
body.category.category-webmethods-cloudstreams-connectors-t #navigation-bar li[title="topics with recent posts"],
body.category.category-webmethods-cloudstreams-connectors-w #navigation-bar li[title="topics with recent posts"],
body.category.category-webmethods-cloudstreams-connectors-z #navigation-bar li[title="topics with recent posts"]
{
	display: none !important;
}

body.categories-list.category.category-webmethods-cloudstreams-connectors #header-list-area .category-boxes-with-topics .category-box {
	width: 55px !important;
	margin: 4.5px !important;
}

body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-a .topic-area .topic-body .topic-meta-data,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-a .topic-area .topic-owner .topic-avatar,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-a .widget-button.reply ,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-a .topic-footer-main-buttons .create, 
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-a #new-create-topic,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-a .topic-body .cooked img,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-a .suggested-topics,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-a #topic-footer-buttons,

body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-c .topic-area .topic-body .topic-meta-data,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-c .topic-area .topic-owner .topic-avatar,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-c .widget-button.reply ,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-c .topic-footer-main-buttons .create,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-c #new-create-topic,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-c .topic-body .cooked img,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-c .suggested-topics,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-c #topic-footer-buttons,

body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-d .topic-area .topic-body .topic-meta-data,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-d .topic-area .topic-owner .topic-avatar,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-d .widget-button.reply ,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-d .topic-footer-main-buttons .create,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-d #new-create-topic,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-d .topic-body .cooked img,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-d .suggested-topics,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-d #topic-footer-buttons,

body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-e .topic-area .topic-body .topic-meta-data,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-e .topic-area .topic-owner .topic-avatar,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-e .widget-button.reply ,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-e .topic-footer-main-buttons .create,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-e #new-create-topic,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-e .topic-body .cooked img,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-e .suggested-topics,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-e #topic-footer-buttons,

body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-f .topic-area .topic-body .topic-meta-data,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-f .topic-area .topic-owner .topic-avatar,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-f .widget-button.reply ,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-f .topic-footer-main-buttons .create,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-f #new-create-topic,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-f .topic-body .cooked img,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-f .suggested-topics,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-f #topic-footer-buttons,

body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-g .topic-area .topic-body .topic-meta-data,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-g .topic-area .topic-owner .topic-avatar,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-g .widget-button.reply ,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-g .topic-footer-main-buttons .create,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-g #new-create-topic,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-g .topic-body .cooked img,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-g .suggested-topics,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-g #topic-footer-buttons,

body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-i .topic-area .topic-body .topic-meta-data,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-i .topic-area .topic-owner .topic-avatar,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-i .widget-button.reply ,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-i .topic-footer-main-buttons .create,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-i #new-create-topic,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-i .topic-body .cooked img,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-i .suggested-topics,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-i #topic-footer-buttons,

body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-j .topic-area .topic-body .topic-meta-data,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-j .topic-area .topic-owner .topic-avatar,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-j .widget-button.reply ,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-j .topic-footer-main-buttons .create,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-j #new-create-topic,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-j .topic-body .cooked img,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-j .suggested-topics,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-j #topic-footer-buttons,

body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-l .topic-area .topic-body .topic-meta-data,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-l .topic-area .topic-owner .topic-avatar,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-l .widget-button.reply ,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-l .topic-footer-main-buttons .create,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-l #new-create-topic,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-l .topic-body .cooked img,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-l .suggested-topics,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-l #topic-footer-buttons,

body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-m .topic-area .topic-body .topic-meta-data,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-m .topic-area .topic-owner .topic-avatar,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-m .widget-button.reply ,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-m .topic-footer-main-buttons .create,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-m #new-create-topic,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-m .topic-body .cooked img,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-m .suggested-topics,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-m #topic-footer-buttons,

body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-n .topic-area .topic-body .topic-meta-data,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-n .topic-area .topic-owner .topic-avatar,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-n .widget-button.reply ,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-n .topic-footer-main-buttons .create,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-n #new-create-topic,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-n .topic-body .cooked img,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-n .suggested-topics,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-n #topic-footer-buttons,

body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-o .topic-area .topic-body .topic-meta-data,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-o .topic-area .topic-owner .topic-avatar,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-o .widget-button.reply ,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-o .topic-footer-main-buttons .create,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-o #new-create-topic,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-o .topic-body .cooked img,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-o .suggested-topics,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-o #topic-footer-buttons,

body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-r .topic-area .topic-body .topic-meta-data,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-r .topic-area .topic-owner .topic-avatar,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-r .widget-button.reply ,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-r .topic-footer-main-buttons .create,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-r #new-create-topic,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-r .topic-body .cooked img,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-r .suggested-topics,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-r #topic-footer-buttons,

body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-s .topic-area .topic-body .topic-meta-data,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-s .topic-area .topic-owner .topic-avatar,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-s .widget-button.reply ,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-s .topic-footer-main-buttons .create,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-s #new-create-topic,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-s .topic-body .cooked img,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-s .suggested-topics,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-s #topic-footer-buttons,

body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-t .topic-area .topic-body .topic-meta-data,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-t .topic-area .topic-owner .topic-avatar,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-t .widget-button.reply ,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-t .topic-footer-main-buttons .create,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-t #new-create-topic,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-t .topic-body .cooked img,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-t .suggested-topics,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-t #topic-footer-buttons,

body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-w .topic-area .topic-body .topic-meta-data,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-w .topic-area .topic-owner .topic-avatar,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-w .widget-button.reply ,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-w .topic-footer-main-buttons .create,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-w #new-create-topic,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-w .topic-body .cooked img,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-w .suggested-topics,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-w #topic-footer-buttons,

body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-z .topic-area .topic-body .topic-meta-data,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-z .topic-area .topic-owner .topic-avatar,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-z .widget-button.reply ,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-z .topic-footer-main-buttons .create
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-z #new-create-topic,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-z .topic-body .cooked img,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-z .suggested-topics,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-z #topic-footer-buttons,
{
	display: none !important;
}

body.categories-list.category.category-webmethods-cloudstreams-connectors .category-navigation li.tag-drop,
body.category.category-webmethods-cloudstreams-connectors-a .category-navigation li.tag-drop,
body.category.category-webmethods-cloudstreams-connectors-c .category-navigation li.tag-drop,
body.category.category-webmethods-cloudstreams-connectors-d .category-navigation li.tag-drop,
body.category.category-webmethods-cloudstreams-connectors-e .category-navigation li.tag-drop,,
body.category.category-webmethods-cloudstreams-connectors-f .category-navigation li.tag-drop,,
body.category.category-webmethods-cloudstreams-connectors-g .category-navigation li.tag-drop,,
body.category.category-webmethods-cloudstreams-connectors-i .category-navigation li.tag-drop,,
body.category.category-webmethods-cloudstreams-connectors-j .category-navigation li.tag-drop,,
body.category.category-webmethods-cloudstreams-connectors-l .category-navigation li.tag-drop,,
body.category.category-webmethods-cloudstreams-connectors-m .category-navigation li.tag-drop,,
body.category.category-webmethods-cloudstreams-connectors-n .category-navigation li.tag-drop,,
body.category.category-webmethods-cloudstreams-connectors-o .category-navigation li.tag-drop,,
body.category.category-webmethods-cloudstreams-connectors-r .category-navigation li.tag-drop,,
body.category.category-webmethods-cloudstreams-connectors-s .category-navigation li.tag-drop,,
body.category.category-webmethods-cloudstreams-connectors-t .category-navigation li.tag-drop,,
body.category.category-webmethods-cloudstreams-connectors-w .category-navigation li.tag-drop,,
body.category.category-webmethods-cloudstreams-connectors-z .category-navigation li.tag-drop,

body.archetype-regular.category.category-webmethods-cloudstreams-connectors-a .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-c .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-d .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-e .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-f .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-g .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-i .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-j .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-l .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-m .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-n .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-o .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-r .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-s .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-t .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-w .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-z .topic-body iframe.pdf-preview
{
    display: none;
}

body.category.category-webmethods-cloudstreams-connectors-a #list-area .topic-list-thumbnail .background-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-c #list-area .topic-list-thumbnail .background-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-d #list-area .topic-list-thumbnail .background-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-e #list-area .topic-list-thumbnail .background-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-f #list-area .topic-list-thumbnail .background-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-g #list-area .topic-list-thumbnail .background-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-i #list-area .topic-list-thumbnail .background-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-j #list-area .topic-list-thumbnail .background-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-l #list-area .topic-list-thumbnail .background-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-m #list-area .topic-list-thumbnail .background-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-n #list-area .topic-list-thumbnail .background-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-o #list-area .topic-list-thumbnail .background-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-r #list-area .topic-list-thumbnail .background-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-s #list-area .topic-list-thumbnail .background-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-t #list-area .topic-list-thumbnail .background-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-w #list-area .topic-list-thumbnail .background-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-z #list-area .topic-list-thumbnail .background-thumbnail,
body.categories-list.category.category-webmethods-cloudstreams-connectors #list-area .topic-list-thumbnail .background-thumbnail
{
    height: calc(100%) !important;
    margin-top: 25%;
    object-fit: contain !important;
    filter: none !important;
    max-height: 90px;
    z-index: 1000;
    left: 0px !important
}

body.categories-list.category.category-webmethods-cloudstreams-connectors .topic-thumbnails-list .topic-list-thumbnail, 
.topic-thumbnails-grid .topic-list-thumbnail, .topic-thumbnails-masonry .topic-list-thumbnail {
	position: unset !important;
}

body.category.category-webmethods-cloudstreams-connectors-a .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-c .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-d .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-e .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-f .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-g .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-i .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-j .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-l .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-m .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-n .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-o .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-r .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-s .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-t .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-w .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-z .topic-list .topic-list-item .badge-wrapper,
body.categories-list.category.category-webmethods-cloudstreams-connectors .topic-list .topic-list-item .badge-wrapper,

body.categories-list.category.category-webmethods-cloudstreams-connectors .topic-list .topic-list-item .posters a,

body.categories-list.category.category-webmethods-cloudstreams-connectors .topic-list .topic-list-item td.num.age.activity a,

body.categories-list.category.category-webmethods-cloudstreams-connectors .topic-list .topic-list-item td.num.likes,

body.categories-list.category.category-webmethods-cloudstreams-connectors .topic-list .topic-list-item .link-bottom-line,

body.categories-list.category.category-webmethods-cloudstreams-connectors .topic-list .topic-list-item .link-top-line .d-tooltip,

body.category.category-webmethods-cloudstreams-connectors-a #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-c #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-d #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-e #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-f #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-g #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-i #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-j #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-l #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-m #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-n #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-o #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-r #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-s #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-t #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-w #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-z #list-area .topic-list-thumbnail .main-thumbnail,
body.categories-list.category.category-webmethods-cloudstreams-connectors #list-area .topic-list-thumbnail .main-thumbnail
{
	display: none !important;
}

body.categories-list.category.category-webmethods-cloudstreams-connectors .topic-list-item.visited a.title:not(.badge-notification) {
	color: var(--primary) !important;
}

html.anon body.categories-list.category.category-webmethods-cloudstreams-connectors .navigation-controls #new-create-topic {
	display: none;
}

/*end webmethods-connectors category*/

body.archetype-regular .topic-body .cooked img {
	margin-top: 5px;
	margin-bottom: 5px;
}

body.category.archetype-regular.category-knowledge-base .topic-body .contents a {
	color: blue !important;
}

div.connectors-foot-note {
    margin-bottom: 30px;
}

.connectors-foot-note-wrapper {
    font-weight: bold;
    font-style: italic;
}

html.connectors-foot-note .footer-message {
    display: none;
}

html.connectors-foot-note .full-width #list-area {
	margin-bottom: 0px !important;
}
