@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap);
//TECHcommunity-customizations - common.scss

/*Customize topics in a news category*/

//hide avatar flair
.category-news .avatar-flair,
.category-news .tl-avatar-flair {
    display: none !important;
}

//remove author info if it is a regular user
body.category-news:not(.staff) #post_1 .topic-meta-data .trigger-user-card,
body.category-news:not(.staff) #post_1 .topic-avatar {
    display:none;
}

body.category-news:not(.staff) #post_1 .topic-meta-data {
    margin-left: -7px !important;   
}

body.category-news #topic-title {
    justify-content: normal !important;
}

//hide suggested topic and share\bookmark\flag\notification buttons
.category-news #topic-footer-buttons,
.category-news .suggested-topics-wrapper {
    display: none;
}

.category-news .topic-status-info {
    border-top: 0 !important;
}

//hide Unanswered topic button on home and news page

body:not(.category-forum),
body.tags-page:not([class*="category-"]) {
    #navigation-bar {
        li[title="Topics that have not been answered"] {
            display: none !important;
        }
    }
}

body.archetype-regular.category-news:not(.staff) span[title="This topic is unlisted; it will not be displayed in topic lists, and can only be accessed via a direct link"] {
    display: none !important;
}

/*end customize topics*/

/*Customize tags page*/

//make tags box wider
.tags-list .discourse-tag {
	max-width: 15em !important;
}

.tags-list .tag-box {
    width: 270px;
}

.tags-list {
    margin-top: 1em!important;
}

//move sort by option
.tag-sort-options {
	float: right;
	margin-top: -37px;
	margin-right: 80px;
}

/*end customize tags page*/

/*small misc changes*/

//make category description wider
.category-title-contents {
	max-width: 1000px !important;
}


//make solved checkbox green and bigger
.topic-statuses {
    margin-bottom: -5px;
}
.d-icon-far-check-square {
    color: #7fc02a; //color: #ffffff;
    height: 0.96em !important;
    width: 0.91em !important;
    //background-color: #7fc02a;
    //border-radius: 3px;
    margin-top: 0.16em;
    //margin-bottom: 0px;
}
.topic-list-icons .d-icon-thumbtack.unpinned, .latest-topic-list .d-icon-thumbtack.unpinned, .top-topic-list .d-icon-thumbtack.unpinned, .topic-list .d-icon-thumbtack.unpinned {
    top: -2px;
}

//make smaller solved/unsolved dropdown filter on forum discussion category
.solved-status-filter .select-kit,
.solved-status-filter .select-kit-collection{
	min-width: 73px !important;
}


//hide views column on home page
.topic-list .views {
    display: none;
}

//hide no-tags option in tags dropdown menu
.select-kit.combo-box.tag-drop .select-kit-row[data-value="no-tags"] {
    display: none;
}

//make tags box wider just on topic pages
.link-bottom-line .discourse-tag,
.topic-header-extra .discourse-tag{
	max-width: 20em !important;
}


//change places of tags and categories dropdown menus
ol.category-breadcrumb {
    display: flex !important;
}

ol.category-breadcrumb .solved-status-filter {
    order: 3;
}

.category-news .topic-body,p
.category-knowledge-base .topic-body {
    background-color: var(--secondary) !important;
}


//custom CSS for tables and links in posts
[data-techcommunity-table] table td {
    border: 1px solid var(--primary-low);
} 

[data-techcommunity-button] a {
    border-radius: 15px 0 15px 0;
    color: var(--secondary);
    background-color: #0899cc;
    padding: 8px 20px;
    font-size: 1.6rem;
}

[data-techcommunity-product-tags] a {
    color: #000000;
    background-color: var(--primary-low);
    padding: 8px 12px;
    line-height: 1.1;
    font-size: 1rem;
    vertical-align: -webkit-baseline-middle;
    display: inline-block;
    margin-bottom: 5px;
}

//hide number of clicks displayed after links
.clicks {
    display: none;
}

//hide edits on news topic for non staff
body.category-news:not(.staff) .topic-area .edits {
	display: none;
}

//move date on news topic for non staff
body.category-news:not(.staff) .topic-meta-data {
	float: right;
	margin-top: -29px;
}

body.category-news .topic-area .returning-user {
    display: none;
}

body.category-news:not(.staff) #topic-title {
    margin-bottom: 0px !important;
}

//hide replies column in news category
body.category-news .topic-list .posts {
    display: none;
}


//change color of links in titles
.topic-body h1 a, .topic-body h2 a, .topic-body h3 a, .topic-body h4 a, .topic-body h5 a, .topic-body h6 a {
    color: var(--primary-or-primary-low-mid) !important;
}

//hide tag info button 
body:not(.staff) #show-tag-info {
    display: none !important;
}

//Versatile banner custom style
.single-box a {
    color: #011f3d !important;
    background-color: #f2f2ea;
    display: block;
    width: 250px;
    padding: 10px 0px;
    margin: 0 auto;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.single-box a:hover {
    box-shadow: 1px 1px 3px 1px #ffffff3d;
    color: #9a50f8 !important;
}

//change background color and font size on tag sidebar
.tag-title-header {
    background-color: #f2f2ea !important;
}

.tag-title-header .tag-title-contents h1 {
    font-size: 1.22em !important;
    text-transform: uppercase;
}

#banner {
    background-color: #f2f2ea;
}

.custom-footer {
    background: #011f3d !important;
}

.cc-color-override--659527902.cc-window {
    background: var(--quaternary) !important;
    border-top: 1px solid var(--secondary);
}
.cc-color-override--659527902 .cc-btn {
    //background: #1cd469 !important;
    background: var(--highlight) !important;
}

.signup-cta {
    margin-bottom: 1em !important;
}

/*end small misc changes*/


/*New topic button*/

//change create topic button style on homepage
#create-topic {
    background-color: var(--tertiary) !important;
    color: #011f3d !important;
    font-weight: bold !important;
	
    .svg-icon {
    	color: #011f3d !important;
    	width: 0.8em !important;
    }
	
    .d-button-label {
    	font-weight: bold;
    }
}

/*end New topic button*/


/*Try free button in header*/

.custom-header-links {
	.try-free-custom-header-links {
		padding: 6.3px 18px 5.8px 18px !important;
		background-color: var(--highlight);
		cursor: pointer;
		
		&:hover {
			background-color: #abbb17 !important;
			transition: all 0.25s;
		}
		
		a {
			padding: 0px !important;
			font-size: var(--font-down-1);
			font-weight: bold !important;
			color: #011f3d !important;
		}
	}
}

@media only screen and (max-width: 1050px) {
    html:not(.anon) {
        .custom-header-links {
            margin-right: -40px;
        }
    }
}

/*End try free button and dropdown menu in header*/

/*tag-sidebar custom style*/
body.custom-tag-sidebar .tag-sidebar {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    background-color: #f2f2ea;
    color: #000;
    margin-top: -20px;
    margin-bottom: 15px;
}

body.custom-tag-sidebar .tag-sidebar .cooked {
    max-width: 1100px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
}

body.custom-tag-sidebar .wrap::before {
    display: none !important;
}

body.custom-tag-sidebar .tag-header-widget {
    display: none;
}

body.custom-sidebar #navigation-bar a[href='/top'],
body.custom-sidebar #navigation-bar a[href='/categories']{
    display: none;
}

.custom-sidebar .tag-title-header,
body.category-header .tag-sidebar,
body.navigation-topics .tag-sidebar {
    display: none !important;
}

.tag-sidebar [data-techcommunity-product-tags] a {
    background-color: #fff !important;
}

.tag-sidebar [data-techcommunity-product-tags] a:hover {
    color: var(--secondary) !important;
    background: #9a50f8 !important;
    transition: all .3s ease;
}

/*end tag-sidebar custom style*/


/*webmethods tag-sidebar box elements style*/
div[data-webmethods-tag-box] {
    border: 3px solid #ccc;
	width: 300px;
	height: 190px;
	margin: 0 16px 16px 0;
    display: inline-table;
    background-color: var(--secondary);
}
 
div[data-webmethods-tag-box] h3 {
    color: #000 !important;
    text-align: center;
    margin-top: 15px !important;
}

div[data-webmethods-tag-box-element] {
    margin-left: 30px;
    margin-top: 12px;
}

div[data-webmethods-tag-box-element] a {
    	display: block;
	color: #787878 !important;
	text-decoration: none;
	text-align: left;
}

/*End webmethods tag-sidebar box elements style*/

/*Navigation changes*/
button.widget-button.btn.btn-primary.btn-small.sign-up-button.btn-text,
.d-header .d-header-icons li.vdm {
    display: none !important;
}

.d-header .login-button .fa {
    display: none;
}

.d-header .login-button .d-button-label {
    color: #011f3d !important;
    font-weight: bold !important;
}

.header-buttons .login-button {
    padding: 8.3px 18px 6.8px 18px !important
}

.header-buttons {
    margin-top: 0px !important;
}

.d-header .d-header-icons .d-icon-search {
    color: var(--header_primary-medium) !important;
}

.d-header .d-header-icons .d-icon-search:hover,
.d-header .d-header-icons #search-button:hover .d-icon-search{
    color: var(--primary-high) !important;
}

.d-header {
	background-color: var(--header_background) !important;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.12) !important;
}

.search-menu .menu-panel {
    width: 700px !important;
}

.hamburger-panel .panel-body-contents .category-links .heading,
.hamburger-panel .panel-body-contents .category-links li.category-link .badge.badge-notification,
.hamburger-panel .panel-body-contents .category-links li.category-link .topics-count{
	display: none;
}

.hamburger-panel .panel-body-contents .category-links li.category-link .badge-wrapper .category-name {
	font-size: 1.2em !important;
}

.hamburger-panel .panel-body-contents .category-links li.category-link .badge-wrapper span.badge-category {
	max-width: 150px !important;
}

.d-header .extra-info-wrapper .discourse-tags {
	display: inline-block !important;
}

/*End navigation changes*/

body.category.archetype-regular.category-knowledge-base .cooked h1, 
body.category.archetype-regular.category-knowledge-base .cooked h2, 
body.category.archetype-regular.category-knowledge-base .cooked h3, 
body.category.archetype-regular.category-knowledge-base .cooked h4, 
body.category.archetype-regular.category-knowledge-base .cooked h5, 
.cooked h6, 
.d-editor-preview h1, 
body.category.archetype-regular.category-knowledge-base .d-editor-preview h2, 
body.category.archetype-regular.category-knowledge-base .d-editor-preview h3, 
body.category.archetype-regular.category-knowledge-base .d-editor-preview h4, 
body.category.archetype-regular.category-knowledge-base .d-editor-preview h5, 
body.category.archetype-regular.category-knowledge-base .d-editor-preview h6 {
    margin: 24px 0 10px;
}

.tag-title-header {
    padding-top: 0px !important;
}

iframe {
    max-width: unset !important;
}

div[data-wrap="webmethods-int-trial"] a:first-child {
    margin-top: -15px;
}

div[data-wrap="webmethods-int-trial"] img {
    width: 115px !important;
    height: 115px !important;
}

body.category.archetype-regular .topic-area span div.topic-above-posts-outlet div.post-stream button#new-create-topic {
     display: none !important;
}

body.archetype-regular .topic-body .cooked img {
	margin-top: 5px;
	margin-bottom: 5px;
}

/*Alfabet user group category changes*/
body.category.category-alfabet-alfabet-deep-dive-feature-trainings .topic-list .default,
body.category.category-alfabet-alfabet-deep-dive-feature-trainings .topic-list .posters,
body.category.category-alfabet-alfabet-deep-dive-feature-trainings .topic-list .posts,
body.category.category-alfabet-alfabet-deep-dive-feature-trainings .topic-list .likes,
body.category.category-alfabet-alfabet-deep-dive-feature-trainings .topic-list .views,
body.category.category-alfabet-alfabet-deep-dive-feature-trainings .topic-list .activity,
body.category.category-alfabet-alfabet-deep-dive-feature-trainings #navigation-bar,
body.category.category-alfabet-alfabet-deep-dive-feature-trainings .tag-drop,
body.category.category-alfabet-alfabet-deep-dive-feature-trainings .solved-status-filter,

body.category.category-alfabet-alfabet-release-information .topic-list .default,
body.category.category-alfabet-alfabet-release-information .topic-list .posters,
body.category.category-alfabet-alfabet-release-information .topic-list .posts,
body.category.category-alfabet-alfabet-release-information .topic-list .likes,
body.category.category-alfabet-alfabet-release-information .topic-list .views,
body.category.category-alfabet-alfabet-release-information .topic-list .activity,
body.category.category-alfabet-alfabet-release-information #navigation-bar,
body.category.category-alfabet-alfabet-release-information .tag-drop,
body.category.category-alfabet-alfabet-release-information .solved-status-filter,

body.category.category-alfabet-alfabet-cookbook-use-cases .topic-list .default,
body.category.category-alfabet-alfabet-cookbook-use-cases .topic-list .posters,
body.category.category-alfabet-alfabet-cookbook-use-cases .topic-list .posts,
body.category.category-alfabet-alfabet-cookbook-use-cases .topic-list .likes,
body.category.category-alfabet-alfabet-cookbook-use-cases .topic-list .views,
body.category.category-alfabet-alfabet-cookbook-use-cases .topic-list .activity,
body.category.category-alfabet-alfabet-cookbook-use-cases #navigation-bar,
body.category.category-alfabet-alfabet-cookbook-use-cases .tag-drop,
body.category.category-alfabet-alfabet-cookbook-use-cases .solved-status-filter,

body.category.category-alfabet-alfabet-user-group-meetings .topic-list .default,
body.category.category-alfabet-alfabet-user-group-meetings .topic-list .posters,
body.category.category-alfabet-alfabet-user-group-meetings .topic-list .posts,
body.category.category-alfabet-alfabet-user-group-meetings .topic-list .likes,
body.category.category-alfabet-alfabet-user-group-meetings .topic-list .views,
body.category.category-alfabet-alfabet-user-group-meetings .topic-list .activity,
body.category.category-alfabet-alfabet-user-group-meetings #navigation-bar,
body.category.category-alfabet-alfabet-user-group-meetings .tag-drop,
body.category.category-alfabet-alfabet-user-group-meetings .solved-status-filter,

body.category.category-alfabet-alfabet-newsletter .topic-list .default,
body.category.category-alfabet-alfabet-newsletter .topic-list .posters,
body.category.category-alfabet-alfabet-newsletter .topic-list .posts,
body.category.category-alfabet-alfabet-newsletter .topic-list .likes,
body.category.category-alfabet-alfabet-newsletter .topic-list .views,
body.category.category-alfabet-alfabet-newsletter .topic-list .activity,
body.category.category-alfabet-alfabet-newsletter #navigation-bar,
body.category.category-alfabet-alfabet-newsletter .tag-drop,
body.category.category-alfabet-alfabet-newsletter .solved-status-filter,

body.category.category-alfabet .tag-drop,
body.category.category-alfabet .solved-status-filter,
body.category.category-alfabet #navigation-bar,
body.category.category-alfabet .category-box .category-details .description,
body.category.category-alfabet .category-box .category-details .category-box-heading .d-icon,
body.category.category-alfabet #banner,
body.category.category-alfabet .topic-list,
body.category.category-alfabet #main-outlet footer.topic-list-bottom
{
	display: none !important;
}

body.category.category-alfabet .category-boxes .category-box .category-box-inner {
    padding: 3em !important;
    border: 1px solid var(--primary-low) !important;
    background: var(--secondary) !important;
    box-shadow: 0px 0px 5px 1px #e4e5e5;
}

body.archetype-regular.category-alfabet-alfabet-deep-dive-feature-trainings #new-create-topic,
body.archetype-regular.category-alfabet-alfabet-deep-dive-feature-trainings .topic-meta-data,
body.archetype-regular.category-alfabet-alfabet-deep-dive-feature-trainings .topic-avatar,
body.archetype-regular.category-alfabet-alfabet-deep-dive-feature-trainings .timeline-container,
body.archetype-regular.category-alfabet-alfabet-deep-dive-feature-trainings .suggested-topics-wrapper,
body.archetype-regular.category-alfabet-alfabet-deep-dive-feature-trainings #banner,
body.archetype-regular.category-alfabet-alfabet-deep-dive-feature-trainings .topic-notifications-button .reason,

body.archetype-regular.category-alfabet-alfabet-release-information #new-create-topic,
body.archetype-regular.category-alfabet-alfabet-release-information .topic-meta-data,
body.archetype-regular.category-alfabet-alfabet-release-information .topic-avatar,
body.archetype-regular.category-alfabet-alfabet-release-information .timeline-container,
body.archetype-regular.category-alfabet-alfabet-release-information .suggested-topics-wrapper,
body.archetype-regular.category-alfabet-alfabet-release-information #banner,
body.archetype-regular.category-alfabet-alfabet-release-information .topic-notifications-button .reason,

body.archetype-regular.category-alfabet-alfabet-cookbook-use-cases #new-create-topic,
body.archetype-regular.category-alfabet-alfabet-cookbook-use-cases .topic-meta-data,
body.archetype-regular.category-alfabet-alfabet-cookbook-use-cases .topic-avatar,
body.archetype-regular.category-alfabet-alfabet-cookbook-use-cases .timeline-container,
body.archetype-regular.category-alfabet-alfabet-cookbook-use-cases .suggested-topics-wrapper,
body.archetype-regular.category-alfabet-alfabet-cookbook-use-cases #banner,
body.archetype-regular.category-alfabet-alfabet-cookbook-use-cases .topic-notifications-button .reason,

body.archetype-regular.category-alfabet-alfabet-user-group-meetings #new-create-topic,
body.archetype-regular.category-alfabet-alfabet-user-group-meetings .topic-meta-data,
body.archetype-regular.category-alfabet-alfabet-user-group-meetings .topic-avatar,
body.archetype-regular.category-alfabet-alfabet-user-group-meetings .timeline-container,
body.archetype-regular.category-alfabet-alfabet-user-group-meetings .suggested-topics-wrapper,
body.archetype-regular.category-alfabet-alfabet-user-group-meetings #banner,
body.archetype-regular.category-alfabet-alfabet-user-group-meetings .topic-notifications-button .reason,

body.archetype-regular.category-alfabet-alfabet-newsletter #new-create-topic,
body.archetype-regular.category-alfabet-alfabet-newsletter .topic-meta-data,
body.archetype-regular.category-alfabet-alfabet-newsletter .topic-avatar,
body.archetype-regular.category-alfabet-alfabet-newsletter .timeline-container,
body.archetype-regular.category-alfabet-alfabet-newsletter .suggested-topics-wrapper,
body.archetype-regular.category-alfabet-alfabet-newsletter #banner,
body.archetype-regular.category-alfabet-alfabet-newsletter .topic-notifications-button .reason{
    display: none !important;
}

body.category-alfabet:not(.staff) #create-topic,
body.category-alfabet-alfabet-deep-dive-feature-trainings:not(.staff) #create-topic,
body.category-alfabet-alfabet-cookbook-use-cases:not(.staff) #create-topic,
body.category-alfabet-alfabet-release-information:not(.staff) #create-topic,
body.category-alfabet-alfabet-newsletter:not(.staff) #create-topic,
body.category-alfabet-alfabet-user-group-meetings:not(.staff) #create-topic {
    display: none !important;
}

html:not(.anon) body.tag-Alfabet div.tag-sidebar div.tag-sidebar-contents div[data-techcommunity-alfabet-tag-sidebar] {
	display: none !important;
}

html:not(.anon) body.tag-Alfabet div.tag-sidebar div.tag-sidebar-contents h1 {
	margin: 0 !important
}

body.tag-Alfabet div.tag-sidebar div.tag-sidebar-contents div[data-techcommunity-alfabet-tag-sidebar] {
	line-height: 1.7;
}

body.category.category-alfabet {
    #header-list-area .category-box .custom-topic-count {
        display: none;
    }
}


body.staff.category.category-alfabet-alfabet-deep-dive-feature-trainings,
body.staff.category.category-alfabet-alfabet-cookbook-use-cases,
body.staff.category.category-alfabet-alfabet-release-information,
body.staff.category.category-alfabet-alfabet-user-group-meetings,
body.staff.category.category-alfabet-alfabet-newsletter {
    .topic-list {
        margin-top: 50px;
        
        td.views {
            display: block !important;
        }
    }
}

body.category.category-alfabet-alfabet-deep-dive-feature-trainings,
body.category.category-alfabet-alfabet-cookbook-use-cases,
body.category.category-alfabet-alfabet-release-information,
body.category.category-alfabet-alfabet-user-group-meetings,
body.category.category-alfabet-alfabet-newsletter {
    .topic-list {
        margin-top: 40px;
  
    }
}
/*End Alfabet user group category changes*/

/*Tag pages*/

body.tags-page li[title="topics you have bookmarked"] {
    display: none !important;
}

body.tags-page:not([class*="category-"]) .category-drop {
    display: none !important;
}

body.tags-page.category-forum .category-drop,
body.tags-page.category-news .category-drop {
    display: none !important;
}

ul.nav.compact-version .navigation-toggle{
    background: rgb(247, 247, 247) !important;
    margin-right: 1em !important;
}

ul.nav.compact-version .navigation-toggle a:hover{
    background: rgb(247, 247, 247) !important;
}

ul.nav.compact-version .drop li[title="all topics grouped by category"] {
    display: none !important;
}

ul.nav.compact-version .navigation-toggle a {
	font-size: 1.1rem !important;
	padding: 0 0.25em 0 0.5em !important;
}

ul.compact-version .navigation-toggle a svg {
    margin-right: unset !important;
}

@media screen and (min-width: 767px) {
.custom-sidebar .contents>.topic-list thead {
    grid-area: unset !important;
}
	
body:not(.category-knowledge-base).custom-sidebar .contents>.topic-list tbody {
    grid-area: unset !important;
}
}

.topic-list a.badge-wrapper.box, 
.topic-list a.discourse-tag.box::before {
    content: "#";
    color: var(--primary-low-mid) !important;
}

.topic-list {
	a.badge-wrapper.box, a.discourse-tag.box {
    		color: var(--primary-medium) !important;
    		background-color: unset !important;
	}
	
	.topic-list-item {
    		.discourse-tags, .badge-wrapper {
        		font-size: 1rem !important;
    		}
	}
}
/*End tag pages*/

/*webmethods-connectors category*/


body.categories-list.category.category-webmethods-cloudstreams-connectors #header-list-area .category-box-inner {
	.featured-topics, svg.fa {
		display: none !important;
	}
}
body.categories-list.category.category-webmethods-cloudstreams-connectors #navigation-bar,
body.category.category-webmethods-cloudstreams-connectors-a #navigation-bar,
body.category.category-webmethods-cloudstreams-connectors-c #navigation-bar,
body.category.category-webmethods-cloudstreams-connectors-d #navigation-bar,
body.category.category-webmethods-cloudstreams-connectors-e #navigation-bar,
body.category.category-webmethods-cloudstreams-connectors-f #navigation-bar,
body.category.category-webmethods-cloudstreams-connectors-g #navigation-bar,
body.category.category-webmethods-cloudstreams-connectors-i #navigation-bar,
body.category.category-webmethods-cloudstreams-connectors-j #navigation-bar,
body.category.category-webmethods-cloudstreams-connectors-l #navigation-bar,
body.category.category-webmethods-cloudstreams-connectors-m #navigation-bar,
body.category.category-webmethods-cloudstreams-connectors-n #navigation-bar,
body.category.category-webmethods-cloudstreams-connectors-o #navigation-bar,
body.category.category-webmethods-cloudstreams-connectors-r #navigation-bar,
body.category.category-webmethods-cloudstreams-connectors-s #navigation-bar,
body.category.category-webmethods-cloudstreams-connectors-t #navigation-bar,
body.category.category-webmethods-cloudstreams-connectors-w #navigation-bar,
body.category.category-webmethods-cloudstreams-connectors-z #navigation-bar {
	li[title="Topics that have not been answered"], li[title="topics with recent posts"] {
		display: none !important;
	}
}
body.categories-list.category.category-webmethods-cloudstreams-connectors #header-list-area .category-boxes-with-topics .category-box {
	width: 55px !important;
	margin: 4.5px !important;
}
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-a,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-c,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-d,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-e,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-f,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-g,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-i,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-j,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-l,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-m,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-n,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-o,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-r,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-s,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-t,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-w,
body:not(.staff).archetype-regular.category.category-webmethods-cloudstreams-connectors-z {
	.topic-area .topic-body .topic-meta-data,
	.topic-area .topic-owner .topic-avatar,
	.widget-button.reply,
	.topic-footer-main-buttons .create {
		display: none !important;
	}
}


body.archetype-regular.category.category-webmethods-cloudstreams-connectors-a,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-c,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-d,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-e,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-f,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-g,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-i,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-j,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-l,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-m,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-n,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-o,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-r,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-s,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-t,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-w,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-z {
	#new-create-topic, 
	.topic-body .cooked img, 
	.suggested-topics, 
	#topic-footer-buttons {
		display: none !important;
	}
}

body.categories-list.category.category-webmethods-cloudstreams-connectors .category-navigation li.tag-drop,
body.category.category-webmethods-cloudstreams-connectors-a .category-navigation li.tag-drop,
body.category.category-webmethods-cloudstreams-connectors-c .category-navigation li.tag-drop,
body.category.category-webmethods-cloudstreams-connectors-d .category-navigation li.tag-drop,
body.category.category-webmethods-cloudstreams-connectors-e .category-navigation li.tag-drop,
body.category.category-webmethods-cloudstreams-connectors-f .category-navigation li.tag-drop,
body.category.category-webmethods-cloudstreams-connectors-g .category-navigation li.tag-drop,
body.category.category-webmethods-cloudstreams-connectors-i .category-navigation li.tag-drop,
body.category.category-webmethods-cloudstreams-connectors-j .category-navigation li.tag-drop,
body.category.category-webmethods-cloudstreams-connectors-l .category-navigation li.tag-drop,
body.category.category-webmethods-cloudstreams-connectors-m .category-navigation li.tag-drop,
body.category.category-webmethods-cloudstreams-connectors-n .category-navigation li.tag-drop,
body.category.category-webmethods-cloudstreams-connectors-o .category-navigation li.tag-drop,
body.category.category-webmethods-cloudstreams-connectors-r .category-navigation li.tag-drop,
body.category.category-webmethods-cloudstreams-connectors-s .category-navigation li.tag-drop,
body.category.category-webmethods-cloudstreams-connectors-t .category-navigation li.tag-drop,
body.category.category-webmethods-cloudstreams-connectors-w .category-navigation li.tag-drop,
body.category.category-webmethods-cloudstreams-connectors-z .category-navigation li.tag-drop,

body.archetype-regular.category.category-webmethods-cloudstreams-connectors-a .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-c .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-d .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-e .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-f .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-g .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-i .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-j .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-l .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-m .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-n .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-o .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-r .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-s .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-t .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-w .topic-body iframe.pdf-preview,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-z .topic-body iframe.pdf-preview
{
    display: none;
}


body.category.category-webmethods-cloudstreams-connectors-a #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-c #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-d #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-e #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-f #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-g #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-i #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-j #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-l #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-m #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-n #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-o #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-r #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-s #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-t #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-w #list-area .topic-list-thumbnail .main-thumbnail,
body.category.category-webmethods-cloudstreams-connectors-z #list-area .topic-list-thumbnail .main-thumbnail,
body.categories-list.category.category-webmethods-cloudstreams-connectors #list-area .topic-list-thumbnail .main-thumbnail
{
    height: calc(100%) !important;
    margin-top: 25%;
    object-fit: contain !important;
    filter: none !important;
    max-height: 90px;
    z-index: 1000;
    left: 0px !important
}

body.categories-list.category.category-webmethods-cloudstreams-connectors .topic-thumbnails-list .topic-list-thumbnail, 
.topic-thumbnails-grid .topic-list-thumbnail, .topic-thumbnails-masonry .topic-list-thumbnail {
	position: unset !important;
}

body.category.category-webmethods-cloudstreams-connectors-a .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-c .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-d .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-e .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-f .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-g .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-i .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-j .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-l .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-m .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-n .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-o .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-r .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-s .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-t .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-w .topic-list .topic-list-item .badge-wrapper,
body.category.category-webmethods-cloudstreams-connectors-z .topic-list .topic-list-item .badge-wrapper,
body.categories-list.category.category-webmethods-cloudstreams-connectors .topic-list .topic-list-item .badge-wrapper,

body.categories-list.category.category-webmethods-cloudstreams-connectors .topic-list .topic-list-item .posters a,

body.categories-list.category.category-webmethods-cloudstreams-connectors .topic-list .topic-list-item td.num.age.activity a,

body.categories-list.category.category-webmethods-cloudstreams-connectors .topic-list .topic-list-item td.num.likes,

body.categories-list.category.category-webmethods-cloudstreams-connectors .topic-list .topic-list-item .link-bottom-line,

body.categories-list.category.category-webmethods-cloudstreams-connectors .topic-list .topic-list-item .link-top-line .d-tooltip
{
	display: none !important;
}

body.categories-list.category.category-webmethods-cloudstreams-connectors .topic-list-item.visited a.title:not(.badge-notification) {
	color: var(--primary) !important;
}

div.connectors-foot-note {
    margin-bottom: 30px;
}

.connectors-foot-note-wrapper {
    font-weight: bold;
    font-style: italic;
}

html.connectors-foot-note .footer-message {
    display: none;
}

html.connectors-foot-note .full-width #list-area {
	margin-bottom: 0px !important;
}

body.category.category-webmethods-cloudstreams-connectors{
    #header-list-area .category-boxes-with-topics .category-box .custom-topic-count {
        display: none;
    }
}

/*end webmethods-connectors category*/

.published-page-header {
	.published-page-header-wrapper {
		.published-page-title {
			font-size: 1.8em !important;
		}
	}
}

.archetype-private_message {
	.topic-body {
		.cooked {
    			margin-left: 0em !important;
		}
	}
}


body.tags-page.category-feedback,
body.category-feedback,
body.category-community-news,
body.category-news,
body.category-knowledge-base,
body.tags-page.tag-banner {
    li.solved-status-filter {
        display: none;
    }
} 

body.archetype-regular.category-knowledge-base-video {
    .topic-body {
        iframe {
            width: 815px !important;
            height: 450px !important;
        }
    }
}

//change notifications-button 
.list-controls .navigation-controls .notifications-button {
    summary.btn {
        background: var(--highlight-low)!important;
        border: 1px solid #d7ef00;
        padding-left: 16px;
        padding-right: 16px;
        
        &:after {
            position: absolute;
            top: 37px;
            right: 9px;
            font-size: 0.7rem;
            color: var(--secondary-medium);
        }
        
        &:hover svg.d-icon {
            color: var(--hljs-symbol) !important;
        }
        
        &:focus svg.d-icon {
        	color: var(--tertiary) !important;
        }
        
        .select-kit-selected-name.selected-name {
            margin-top: -5px;
        }
    }
    
    summary.btn[data-name="regular"],
    summary.btn[data-name="muted"] {
        &:after {
            content: "subscribe";
        }
    }
    
    summary.btn[data-name="watching_first_post"],
    summary.btn[data-name="watching"],
    summary.btn[data-name="tracking"] {
        &:after {
            content: "subscribed";
            right: 6px !important;
        }
        
        background: var(--success-low)!important;
        border: 1px solid var(--success-medium) !important;
    }
    
}

#create-topic .d-button-label {
    font-size: 1.1rem;
}


.category-knowledge-base, 
.category-news,
.category-drafts,
.category-alfabet-user-group-meetings {
	#post_1 .cooked>p img:not(.emoji) {
		display: block !important;
	}
}

.btn-flat.unaccepted {
    .d-button-label {
	    color: var(--primary-low-mid-or-secondary-high) !important;
    }
    
    &:hover .d-button-label {
	    color: var(--primary) !important;
    }
}

.user-preferences {
	div.control-group.security-key {
		display: none;
	}
}

//webMethods Integration Download page cust - https://tech.forums.softwareag.com/t/webmethods-integration-free-trial-download/235077
div[data-wrap="free-trial-guide"] {
	display: inline-block;
    background-color: #F2F4F5;
    margin-top: 50px;
    
    div[data-wrap="free-trial-getting-started"] {
        padding: 40px 60px;
        
        div[data-wrap="free-trial-getting-started-column"],
        div[data-wrap="free-trial-getting-started-column-2"] {
            float: left;
            width: 33%;
        
            p {
        		width: 80%;
        		
        		a {
        		    display: flex;
        		    color: #3b2c5e !important;

        		    
        		    img {
        		        margin-right: 12px;
        		        margin-top: 3px !important;
        		    }
        		}
        	}
        	
        	h3 {
        	    margin-bottom: 20px !important;
        	}
    	
        }
        
        div[data-wrap="free-trial-getting-started-column-2"] {
            width: 50% !important;
        
            p {
        		width: 90% !important;
        	}
        }
    }
    
    div[data-wrap="free-trial-about"] {
    	float: left;
    	padding: 0px 60px 40px 60px;
    	
    	h3 {
            border-top: 1px solid var(--primary-low-mid);
            padding-top: 35px;
            margin-bottom: 25px;
    	}
    }
}



div[data-wrap="free-trial-info"] {

    img[src="https://aws1.discourse-cdn.com/techcommunity/original/2X/2/217856cbfb35f00c05bfd9a2469b298227ec57d5.png"] {
        width: 10% !important;
    }
    
    h1 {
        font-size: var(--font-up-6) !important;
        margin-top: 5px !important;
    }
    
    div[data-wrap="download-button"] {
        a {
            background-color: #8e3cf7;
            color: var(--secondary);
            padding: 12px;
        }
        
        margin: 35px 0px !important;
    }
    
    p {
        color: var(--secondary-medium);
    }

}

//end webMethods Integration Download page cust

//remove sticky avatars 
body:not(.category-forum) .topic-post.sticky-avatar {
  .topic-avatar {
    position: relative !important;
    top: unset  !important;
  }
}
//end remove sticky avatars

// Resolved the issue of ovelapping Header navigation over the Subscribe/All sections/All tags drop-down popup [Added by: Saurabh; Date: 23-12-2021]
body {
    .list-controls {
        z-index: auto;
    }
    .select-kit{
        &.notifications-button.tag-notifications-button.is-expanded, &.category-drop.is-expanded, &.tag-drop.is-expanded {
            z-index: auto;
            .select-kit-body {
                z-index: 1001;
            }
        }
    }
}

// Binjan; Show content (Advance options) for Advance Search button; 22.12.2021
.search-menu .search-input {
    input#search-term {
        padding-right: 150px; 
    }
    a.show-advanced-search:after {
        content: ' Advanced options';
    }
}

// Hide the below 7 section on the topic page if the topic contains plain-view tag [Added by: Saurabh; Date:10-01-2022]
//1. New Topic button
//2. Topic categories and tags section
//3. Topic metadata (i.e Author name, badges and create date                            
//4. Suggested topics      
// [Note: Below 3 sections will displayed only to staff members [Added by: Ajroddin; Date:12-01-2022]
//5. Post controls   
//6. Post Links container
//7. Topic footer buttons
body.archetype-regular.tag-plain-view {
    #new-create-topic, .topic-category, .topic-meta-data, .suggested-topics{
        display: none !important;
    }
    &:not(.staff){
	.post-controls, .post-links-container, #topic-footer-buttons{
		display: none !important;
	}
    }
}

// change topic-list and topic-list-item background-color for all categories and tag pages
body.category-header:not(.category-knowledge-base),
body.tags-page:not(.category-knowledge-base),
body.navigation-topics {
    #main>div:first-child{
        background-color: #F2F4F5;
        
        .topic-list .topic-list-item {
            background: #ffffff !important;
            border-bottom: 10px solid #F2F4F5 !important;
        }
    }
}

// end change topic-list background-color


// hide topic date for this topic https://tech.forums.softwareag.com/t/software-ag-product-roadmaps/235298
[data-topic-id="235298"] article#post_1 .topic-body { 
    .topic-meta-data a.post-date[href*="/t/software-ag-product-roadmaps/235298"] {
        display: none;
    }
}

// hide scrollbar on terracotta thank you page
div[data-wrap="iframe-terracotta-form"] {
    overflow: hidden;
}

// hide topic info for topics with tag free-use (download pages)
body.category-news.tag-free-use:not(.staff) {
    .title-wrapper .topic-category {
        display: none !important;
    }
    
    .topic-body .post-infos {
        display: none !important;
    }   
}

body:not(.staff) .topic-list-item .link-bottom-line a[href="/tag/free-use"] {
    display: none;
}

// end hide topic info for topics with tag free-use(download page)

// fix admin post menu position
.post-menu-area .post-admin-menu.popup-menu {
    bottom: unset !important;
}

// hide thumbnail on topic-list fro tag newsletter
body.tags-page.tag-newsletter .topic-list-thumbnail {
    display: none;
}

//Apply style on the hamburger menu,search icon,user menu in the header And topic-notifications [Added by: Ajroddin; Date:20-01-2022]
/* search icon in header */
body:not(.archetype-regular):not(.archetype-private_message) .d-header {
    #search-button {
      background: #9a50f838;
      border-radius: 40%;
      border-bottom-right-radius: 0;
      padding-bottom: 1px;
      padding-right: 1px;
      margin-left: -2px;
    }
}
.drop-down-mode .d-header-icons .search-dropdown.active .icon {
    background: var(--secondary) !important;
}

.drop-down-mode .d-header-icons .search-dropdown.active .icon:after {
    border-top: none !important;
}
.contents .panel {
    .panel-body, .panel-body-contents {
        .category-links {
            background-color: #f2f2ea;
        }
    }
    /*user menu on header*/
    .user-menu {
        font-size: 1.15rem;
        .glyphs .widget-button .d-icon {
            color: #3cc1b7;
            height: 1.5em;
            width: 1.5em;
        }
        div.menu-links-header .menu-links-row button.active .d-icon {
            color: #9a50f8;
        }
    }
}
html.anon .header-dropdown-toggle.search-dropdown {
    padding-right: 5px;
}
/*topic list avatars */
.topic-list-body .posters.topic-list-data {
    img.avatar:hover {
        transform: scale(1.4);
        border-radius: 25%;
    }
}
/* topic-notifications */
body.category {
    #topic {
        .topic-timer-info .topic-timer-heading {
            color: var(--primary-low);
            font-weight: 300;
        }
    }
    #topic-footer-buttons {
        .reason  .topic-notifications-options {
            .dropdown-select-box-header {
                background: var(--highlight-low);
                border: 1px solid #d7ef00;
                padding: 1em;
            }
            .topic-notifications-options {
                display: inline !important;
            }
        }
        .select-kit-header-wrapper,
        .d-icon {
            color: var(--primary-high);
        }
        .topic-notifications-button {
            background: var(--primary-low);
            .topic-notifications-options.has-selection:hover
                .select-kit-selected-name
                .d-icon {
                    color: var(--hljs-symbol) !important;
            }
        }
    }
}

[data-topic-id="254619"] .post-stream #post_1 .topic-body table {
    
    td {
        width: 50%;
    }
    
    tr:nth-child(1) td>div {
        height: 53em;
        overflow: auto;
    }
    
    tr:nth-child(3) td>div {
        height: 44em;
        overflow: auto;
    }
}

// ------ CSS Moved From The "my component - common.scss" [Date: 11-02-2022] ------------

//Display the posters and activity headers of the topic-list in the table cell format mandatorily.
.posters, .activity {
    display: table-cell !important;
}

/*** Topics list CSS ***/
//secondary nav
.nav-pills>li>a {
    font-size: 1em;
}

//make hearts lighter
.likes svg.fa.d-icon.d-icon-heart.svg-icon.svg-string {
    fill: #c2c2c2 !important;
}

//Applying margin to the tags in the topic-list
.topic-list .link-bottom-line a.badge-wrapper.box, .topic-list .link-bottom-line a.discourse-tag.box {
    margin-bottom: 3px;
    margin-top: 3px;
}

.link-bottom-line .discourse-tag, .topic-header-extra .discourse-tag {
    margin-bottom: 2px;
}

//Set the Background color to #ecffec for the topic item in the topic-list if the topic has accepted answer (i.e. Solved).
body.navigation-topics #main>div:first-child .topic-list .topic-list-item.status-solved, .status-solved {
    background: #ecffec !important;
}
/*** Topic list CSS Ends ***/

/*** Tag selected view ***/
//Hide the welcome banner on tags pages that have the custom sidebare enabled
.custom-sidebar #banner {
    display: none;
}
.custom-sidebar #list-area .show-more.has-topics .alert {
    width: 73%;
    padding-top: 7px;
    padding-bottom: 9px;
}
/*** Tag selected view Ends ***/

/*** Composer CSS ***/
//make composer more compact
#reply-control .reply-to {
    margin: 0px 0 4px 0;
}
.composer-fields .title-and-category {
    margin-bottom: 0 !important;
}

.composer-fields #reply-title, .composer-fields .select-kit .select-kit-header {
    padding: 0px 10px;
    min-height: 25px;
}

#reply-control .wmd-controls {
    max-height:35vh !important;
}
.reply-area .select-tags-section {
    margin: 5px 0px 0px 0px !important;
}

.select-tags-section .select-tags-body .tag-list-section ul li {
    font-size: 0.9em;
}

#reply-control .submit-panel {
    display: flex;
    flex-shrink: 0;
    margin: 2px 0 3px 0;
}

.d-editor-preview-wrapper  {
    background: #ecf3eb;
    padding: 0 2px 0 8px;
    margin-left: 3px;
}

.d-editor-container .d-editor-button-bar button.upload:after {
    content: url($image-upload);
    filter: invert(63%) sepia(4%) saturate(0%) hue-rotate(131deg) brightness(91%) contrast(84%);
    transition: filter 0.4s;
    margin: 4px 0px 0px 7px;
}

.d-editor-container .d-editor-button-bar button.upload:hover:after,
.d-editor-container .d-editor-button-bar button.upload:hover:after {
    filter: invert(100%) sepia(3%) saturate(515%) hue-rotate(241deg) brightness(113%) contrast(83%);
}

.d-editor-container .d-editor-button-bar button.upload {
    white-space: nowrap;
}

//Set the maximum height of the composer
.composer-popup {
    max-height: 50vh;
}

// Some color changes for the composer [Added by: Saurabh; Date: 11-04-2022]
#reply-control {
    .reply-to {
        .reply-details .d-icon.d-icon-plus {
            background-color: var(--tertiary-low);
        }
        .composer-controls {
            .toggle-minimize {
                background-color: var(--tertiary-low);
            }
        } 
        .toggle-fullscreen { 
            background-color: #9a50f8;
            padding: 6px 10px;
            .d-icon { 
                color: #ffffff;
            }
        }
    }  
    .d-editor-button-bar { 
        background-color: #f2f2ea;
    }
    &:not(.fullscreen) .reply-to {
        .toggle-fullscreen::before {
            content: "Enter Full screen mode for easier writing ";
            background-color: #9a50f8;
            color: #ffffff;
            padding-right: 10px;
        }
    }
    .submit-panel {
        .btn-mini-toggle{ 
            background-color: var(--tertiary-low);
        }   
    }
} 
/*** Composer CSS Ends ***/

/*** Container Navigation Bar CSS ***/
// Make the navigation links background transparent and change the color scheme.
.nav-pills > li a.active {
    background: transparent !important;
    border-bottom: 2px solid #9a50f8 !important;
    color: #9a50f8 !important;
    padding-bottom: 2px !important;
}

.nav-pills>li>a:hover {
    background-color: rgba(154, 80, 248, 0.3) !important;
}

//Ordering tags in home page dropdown
.tag-drop [data-name="Adabas-Natural"] {
    order: -5;
}
.tag-drop [data-name="Cumulocity-IoT"] {
    order: -4;
}

.tag-drop [data-name="webMethods"] {
    order: -3;
}
.tag-drop [data-name="all tags"] {
    order: -2;
}
.tag-drop [data-name="webMethods-io-Integration"] {
    order: -1;
}
.tag-drop [data-name="Integration-ESB"], .tag-drop [data-name="webMethods-Integration"], .tag-drop [data-name="webMethods-General"] {
    order: 30;
}
/*** Container Navigation Bar CSS Ends ***/

/*** Category Based CSS ***/
//News Category based customization 
.category-news.tag-page .topic-body {
    width: calc(690px + (11px * 2)) !important;
}
.catego+ry-news.tag-page #topic-title .title-wrapper {
    width: 100% !important;
    text-align: left;
}
.category-news.tag-page #topic-title .topic-statuses .topic-status {
    display: none;
}

.category-news.tag-page .topic-category, .category-news.tag-page .post-info {
 	display: none;
}
.category-news.tag-page .topic-body h1 a, .category-news.tag-page .topic-body h2 a, .category-news.tag-page .topic-body h3 a {
    color: #3cc1b7 !important;
}

//News Category based customization 
.category-knowledge-base #list-area .show-more.has-topics {
    top: 25px;
}

@media only screen and (min-width: 900px) {
    .category.category-knowledge-base .topic-meta-data .post-info a span.relative-date[title] {
      color: transparent;
    
      &::before {
        content: attr(title);
        color: var(--primary-high-or-secondary-low);
      }
    }
}
body.category.archetype-regular.category-knowledge-base .topic-owner .topic-meta-data .post-date {
    margin-bottom: 17.5px !important;
}

body.category.archetype-regular.category-knowledge-base .topic-body .contents h1 a,
body.category.archetype-regular.category-knowledge-base .topic-body .contents h2 a,
body.category.archetype-regular.category-knowledge-base .topic-body .contents h3 a{
    color: #222 !important;
}

body.category.archetype-regular.category-knowledge-base h2, body.category.archetype-regular.category-knowledge-base h3 {
    border-bottom: none !important;
}

.category-news #topic-title h1 {
    margin-bottom: 10px;
}

.category-knowledge-base article nav.post-controls .actions {
    padding-right: 1em;
}

body.category.archetype-regular.category-knowledge-base #post_1 .topic-body .topic-map {
    margin-bottom: -1px;
    margin-left: -27px;
    display: block !important;
    width: 863px;
}

body.category.archetype-regular.category-knowledge-base-video #post_1 .topic-body .topic-map {
    margin-bottom: -1px;   
    margin-left: -5px;
    width: 865px;
}

.category-knowledge-base,
.category-knowledge-base-video {
    article {
        .topic-avatar {
            width: 22px !important;
            padding-left: 6px;
		    padding-top: 8px;
            
            img.avatar {
                width: 27px !important;
                height: 27px !important;
            }           
        }
    }
}

.category-knowledge-base #post_1 .cooked p:first-child + div.lightbox-wrapper, .category-news #post_1 .cooked p:first-child + div.lightbox-wrapper, .category-drafts #post_1 .cooked p:first-child + div.lightbox-wrapper, .category-alfabet-user-group-meetings #post_1 .cooked p:first-child + div.lightbox-wrapper {
    display: block !important;
}

.category.category-knowledge-base .shared-drafts {
    display: none !important;
}

.category-knowledge-base .loading-container .topic-timer-info {
    border-top: none;
}

//
.category-knowledge-base .small-action, .category-news .small-action, .category-drafts .small-action,
.category-alfabet-user-group-meetings .small-action, .category-knowledge-base .topic-status-info, 
.category-news .topic-status-info, .category-drafts .topic-status-info, .category-alfabet-user-group-meetings .topic-status-info,
.category-knowledge-base .signup-cta, .category-news .signup-cta, .category-drafts .signup-cta, 
.category-alfabet-user-group-meetings .signup-cta {
    margin: 0 0 2em 0 !important;
}

//
.category-knowledge-base #post_1 .cooked>p ~ p img:not(.emoji), 
.category-news #post_1 .cooked>p ~ p img:not(.emoji), 
.category-drafts #post_1 .cooked>p ~ p img:not(.emoji), 
.category-alfabet-user-group-meetings #post_1 .cooked>p ~ p img:not(.emoji) {
    display: inline-block;
}

/*** Category based CSS ***/

//hide images in attachments list
.moved-attachments img {
    display: none !important;
}

/*** Topic Timeline CSS ***/
.timeline-container .topic-timeline .timeline-scrollarea {
    border-color: var(--tertiary-high);
}

.timeline-container .topic-timeline .timeline-handle {
    background-color: var(--tertiary-hover);
}
/*** Timeline CSS Ends ***/

//
.d-tooltip .d-tooltip-content {
    color: #000000;
}

// Set the Height and Width of the video iframes present in the topic with id 237328
[data-topic-id="237328"] .post-stream .topic-body iframe[src*="vimeo"] {
	max-width: 100% !important;
	height: 240px !important;
}

//Set the background color and left border for the Quoted content in the topic/reply
aside.quote .title, blockquote {
    border-left: 5px solid var(--tertiary);
    background-color: #f2f2ea;
}

/*** Bran Header CSS ***/
//Center brand header bar 
.brand-header .contents.clearfix {
    text-align: center;
}

//Center brand header Link [Modified by: Saurabh; Date: 17-12-2021] 
.brand-header .b-header .links {
    position: absolute;
    width: 100%;
    ul {
        width: 100%;
        li:first-child {
            width: 100%;
            display: inline-block;
            a {
                font-size: 1.2rem !important;
                font-weight: bold;
                width: 100%;
                text-align: center;
                justify-content: center;
            }
            a:hover {
                background-color:transparent !important;
            }
        }
    }
}
/*** Brand Header CSS Ends ***/

/*** Main container Dismiss Banenr CSS ***/
#banner-content a {
    //font-size: 20px;
    //color: #011f3d !important;
}

//banner post box border
#banner {
    border: 1px solid #d7d7b7;
}

#banner #banner-content img {
    width: 16px !important;
    height: 16px !important;
    margin-top: -3px !important;
    display:none;
}

.staff #banner #banner-content img {
    display:inline;
}
/*** Main container Dismiss Banenr CSS Ends ***/

/*** Discourse Post Event Widget CSS ***/
.discourse-post-event-widget {
    background: #f2f2ea !important;
}

.discourse-post-event-widget .event-url a::before {
    content: "Register now";
    display: block;
    font-size: 2em;
}

.discourse-post-event-widget .event-dates {
    display: none;
}

/*** Discourse Post Event Widget CSS Ends ***/

//Upcoming-events Calander CSS
#upcoming-events-calendar.fc-unthemed .fc-title {
    white-space: break-spaces;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 5px;
    height: 43px;
}


// Hide the title of the topic with id 235228
h1[data-topic-id="235228"] {
    display: none;
}

// ------ End of CSS Moved From The "my component" ------------

/* Blog category changes*/
/*Customize topics under a Blog category [Added By: Saurabh, Date: 15/03/2022] */
//Hide the "topic footer buttons" and "SAG info banner" on the topic page for the Blog category
body.category-knowledge-base-blog {
    #topic-footer-buttons, .topic-above-footer-buttons-outlet, .container #banner {
        display: none !important;
    }
}

//Customize the topic-thumbnails-masonry under Blog category. [Added By: Saurabh, Date: 12/04/2022] 
body.category.category-knowledge-base-blog {
    .topic-list-body {
        tr.topic-list-item {
            .topic-list-thumbnail.no-thumbnail {
                background: #1B5259;
                
                &::after { 
                    opacity: 0;
                }
                .thumbnail-placeholder {
                    color: #FFC809;
                    align-items: start;
                    margin-top: 2em;
                    svg {
                        width: 45%;
                        height: 45%;
                    }
                }
            }
            td.likes {
                display: none;
            }
	    // Changed the opacity of the blog box title sections [Added by: Saurabh; Date: 19-04-2022]
            .activity, .main-link, .posters { 
                background-color: rgba(var(--primary-low-rgb), 0.95);    
            }
        }
    }
    // Remove the New and Unreplied links from the topic header navigation
    #navigation-bar {
        li[title="topics created in the last few days"] {
            display: none !important;
        }
    }
}
/* Blog category changes ends*/
