 @import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap);

/*Products dropdown menu in header*/

.products {
    position: absolute;
    margin-left: 400px;
    padding-left: 40px;
    padding-right: 50px;
    padding-top: 23px;
    top: 0;
    height: 50px;
    cursor: pointer;

    &:hover {
    	.products-caret {
    		border-top-color: #9a50f8 !important;
		}

		.btn-products {
			color: #9a50f8 !important;
		}
    }
}

.btn-products {
    font-size: 1em;
    text-transform: uppercase;
    height: 50px;
    font-weight: 600;
    color: #011f3d;
    font-family: Roboto,Arial,Helvetica,sans-serif;

    &:hover {
    	color: #9a50f8 !important;

    	a {
    		color: #9a50f8 !important;
		}
    }
}

.products-caret {
    cursor: pointer;
    position: relative;
    padding-top: 37.5px;
    margin-left: 87px;
    border-top: 7px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top-color: #011f3d !important;
}

.dd-products {
    position: absolute;
    top: 52px;
    background-color: #fff;
    border: 1px #ccc solid;
    padding: 24px 0px 20px 40px;
    display: none;

    .dd-products-list-item {
    	a:hover {
    		color: #9a50f8;
		}
    }

    ul {
    	list-style: none;
    	margin-left: 0px !important;
    	float: left;
	}

	.dd-products-title {
    	font-weight: bold;
    	font-size: 20px !important;
	}
}

.dd-products-item {
	display: inline-block;
    margin-right: 15px;
    margin-top: 10px;
    width: 254px;
    font-size: 1.04em;
}   

.dd-products-transformation .dd-products-item {
    margin-right: 0;
}

.dd-products-hovered {
    display: inline-block !important;
}

.products:hover~.dd-products,
.products-caret:hover~.dd-products,
.dd-products:hover {
	display: inline-block !important;
}

.search-header {
    margin-left: 225px !important;
}
.title .search-header {
    width: 605px;
}
//when clicked

.d-header .d-header-icons .search-dropdown {	
    position: absolute !important;	
    right: 310px;	
}

//hide products dropdown menu on topic page
header.hide-menus {
	.products, .products-caret, .search-dropdown {
		display: none;
	}
}

/*End products dropdown menu in header*/

/*Section dropdown menu in header*/

.sections {
    position: absolute;
    margin-left: 540px;
    padding-left: 40px;
    padding-right: 50px;
    padding-top: 23px;
    top: 0;
    height: 50px;
    cursor: pointer;

    &:hover {
    	.btn-sections {
    		color: #9a50f8 !important;
    	}

    	.sections-caret {
    		border-top-color: #9a50f8 !important;
	}
    }
}

.btn-sections {
    font-size: 1em;
    text-transform: uppercase;
    height: 50px;
    font-weight: 600;
    color: #011f3d;
    font-family: Roboto,Arial,Helvetica,sans-serif;

    &:hover {
    	color: #9a50f8 !important;

    	a {
    		color: #9a50f8 !important;
    	}
    }
}


.sections-caret {
    cursor: pointer;
    position: relative;
    padding-top: 37.5px;
    margin-left: 80px;
    border-top: 7px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top-color: #011f3d !important;
}

.dd-sections {
    position: absolute;
    top: 52px;
    background-color: #fff;
    border: 1px #ccc solid;
    padding: 24px 0px 20px 40px;
    display: none;

    ul {
    	list-style: none;
    	margin-left: 0px !important;
    	float: left;
	margin-right: 75px;
    }

    .dd-sections-title {
    	font-weight: bold;
    	font-size: 20px !important;
    }
	
    .dd-sections-list-item {
	    a:hover {
    		color: #9a50f8;
	    }
     }
}

.dd-sections-item {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    width: 254px;
    font-size: 1.04em;
    color: var(--primary-high);
}


.sections:hover ~ .dd-sections, .sections-caret:hover ~ .dd-sections, .dd-sections:hover {
    display: inline-block !important;
}

header.hide-menus {
    .sections, .sections-caret {
    	display: none;
    }
}

ul.dd-sections-knowledgeBase, 
ul.dd-sections-videos {
    margin-left: 35px !important;
}

/*End sections dropdown menu in header*/

#banner-content {
    img {
	width: 260px;
    	height: auto;
    	margin-top: 5px;
    }
}

/*tags-section*/
.select-tags-section.with-preview {
    width: auto !important;
    outline: none;
}

.select-tags-section {
    .select-tags-header {
   	width: 50% !important;
    }
    .select-tags-body {
	width: 100% !important;

	.select-tag-category {
    		flex-wrap: wrap;
	}

	.select-tags-title {
    		margin-top: 10px;
	}
     }
}

div#webmethods ul {
    column-count: 4;

    li {
    	width: 205px;
    }
}


div#iot, div#adanat {
     ul{
    	margin-left: 0px !important;
     }
}

.edit-title {
     .with-tags {
	.d-editor-preview-wrapper {
    		margin-bottom: -3em !important;
    		margin-top: -65px !important;
	}
      }
}

/*End tag section*/

.tag-title-header {
    min-height: 105px !important;
	
    .tag-title-contents {
    	padding-bottom: 0px !important;
    }
}

.topic-area {
    #new-create-topic {
    	margin-top: -58px !important;
    }
}

#banner-content {
    margin-left: 20px;
    margin-right: 27px;
	
    ul {
    	list-style: none;
    	columns: 3;
    	margin: 9px 0px;
    }
}

#global-notice-alert-emails-disabled {
    display: none;
}

/*Customize topics in a news category*/
//Make topic title and body wider under News category (apply only for desktop and tablet views) [Added By: Saurabh, Date: 21/09/2021]
body {
  &.category-news {
    .topic-avatar {
      padding: 0px !important;
    }

    .container.posts {
      display: block;
    }

    &.tag-page .topic-body,
    .topic-body {
      width: 100% !important;
      .cooked,
      .contents {
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
      .contents {
        margin-left: -20px !important;
      }
    }

    #topic-title .title-wrapper {
      width: calc(961px + (11px * 2)) !important;
      //Set the topic title width in tablet view(To resolve the issue of overflow for topic title)
      @include breakpoint(tablet) {
        width: 70% !important;
      }
    }
  }

  //If logged-in user is not staff.(required scss as topics author details and New topic button are only display to staff members)
  &.category-news:not(.staff) {
    //Removed the left margin for the topic content	  
    .contents {
      margin-left: 0px !important;
    }	
    @include breakpoint(tablet) {	  
      #topic-title .title-wrapper {	  
        width: calc(100% - 47px) !important;	  
      } 
    }	    
  }
}

#topic-title {
	.title-wrapper {
    		width: 70% !important;
	}
}
/*end Customize topics in a news category*/

/*Alfabet user section*/

body.category.category-alfabet {
	.category-boxes {
		.category-box {
	    		width: 30% !important;
		}
	}
}

/*end alfabet user section*/

/*webmethods-connectors category*/

body.archetype-regular.category.category-webmethods-cloudstreams-connectors-a,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-c,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-d,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-e,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-f,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-g,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-i,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-j,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-l,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-m,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-n,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-o,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-r,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-s,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-t,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-w,
body.archetype-regular.category.category-webmethods-cloudstreams-connectors-z {
	.topic-body {
		width:calc(790px + (11px*2))!important;
	}
}

/*end webmethods-connectors category*/

/*edit drafts category*/

body.category.archetype-regular.category-drafts {
	.topic-body {
    		width: calc(815px + (11px * 2)) !important;
	}

	#topic-title {
		justify-content: left !important;

		h1 {
			font-size: 2.4em !important;
		}
		.title-wrapper {
			width: calc(690px + (11px * 2)) !important;
		}
	}
}

/*end edit drafts category*/

/*fix header on large font size*/
@media only screen and (min-width: 1050px) {
    html:not(.anon) .d-header .header-buttons {
    	left: 2.8em;
    	position: relative !important;
    }
}

html:not(.anon) .d-header .d-header-icons .search-dropdown {
    position: relative !important;
    right: 6.5em !important;
}

.products,
.sections {
    padding-top: 1.5em !important;
}

.dd-products,
.dd-sections {
    top: 3.5em !important;
}

.d-header {
    .products-caret, .sections-caret {
	    display: none !important;
    }
}

html.anon .d-header .d-header-icons .search-dropdown {
    position: absolute !important;
    right: 14em !important;
}

@media only screen and (min-width: 1050px) {
    html:not(.anon) .d-header .extra-info-wrapper+.panel .header-buttons {
    	left: 0em !important; 
    	position: relative !important;
    }
}
/*end fix header on large font size*/

/*webmethods free trial page custom*/
div[data-wrap="webmethods-int-trial"] {
    border-bottom: 3px solid var(--primary);

    img {
	width: 130px !important;
	height: 130px !important;
    }
    p {
    	margin-bottom: 30px;
    }
     a:first-child {
	float: left;
	margin-right: 20px;
    }
    h2 {
    	margin-bottom: -24px;
    }
}

/*end webmethods free trial page custom*/

div[class^="category-title-header"] {
    padding-top: 0 !important;
}

.container.posts {
	.topic-navigation {
    		margin-left: -3em !important;
	}
}

div.poll {
    width: 101% !important;
	
    .poll-info {
    	display: none !important;
     }
	
     .poll-container {
        border-right: unset ! important;
     }
}


div[data-wrap="iframe-terracotta-form"] {
	iframe {
	   border: unset !important;
	}
}

body.published-page {
	.published-page-author {
		display: none !important;
	}
}

.logo-big {
    height: 1.9em !important;
}

.list-controls {
    z-index: 50;
	
    .combo-box {
	    .combo-box-header {
    		background: #f7f7f7 !important;
		font-size: 1.1rem !important;
		padding: 17px 0.25em 16px 0.5em;    
	    }
    }
}

.nav-pills>li {
	a {
	   font-size: 1.1rem !important;
	   
	   &.active {
    		background: transparent !important;
	   }
	}
}


.category-knowledge-base,
.category-news,
.category-drafts,
.category-alfabet-user-group-meetings {
	.container.posts {
		padding-left: 0px !important;
	}
}

body.archetype-regular.category.category-news.tag-unlisted {
	.topic-body {
		iframe {
    			height: 200px !important;
		}
	}
}

body.archetype-regular.category.category-news {
	.topic-body {
		iframe {
    			width: 690px !important;
		}
	}
}

//move Solved/Unsolved dropdown menu in navigation
.navigation-container {
    li.solved-status-filter {
       position: absolute;
        height: auto;
        margin-top: 57px;
	z-index: 50;
    }

    --nav-space: 0em;
}

/*body.category-forum {
    .topic-list {
        margin-top: 48px !important;
    }
	
    .topic-list-bottom {
       margin-top: 55px !important;
    }
	
    .dropdown-select-box.period-chooser {
       margin-top: 60px;
       margin-bottom: -60px;
    }
}*/

body.category-news,
body.category-knowledge-base {
    li.solved-status-filter {
        display: none !important;
    }
}

.list-controls {
	.navigation-controls {
    		margin-left: auto;
		
		.notifications-button div.select-kit-header-wrapper {
    			padding: 10px 0.5em 10px 0.5em !important;
		}
	}
}

body.tags-page.category-knowledge-base,
body.tags-page.category-forum,
body.category.category-knowledge-base,
body.category.category-feedback{
    .navigation-container {
        .category-breadcrumb,
        #navigation-bar,
        .navigation-controls {
             z-index: 50 !important;
        }
    }
}

//add icons to nav
.navigation-container {
    #navigation-bar > {
        li > {
        a[href*="/latest"]:before {
            content: url(https://discourse-cloud-file-uploads.s3.dualstack.us-west-2.amazonaws.com/techcommunitystaging/original/2X/b/b4775ee23a5f67d3dd6ac539ef3c44e0caf0776d.svg);
            height: 18px;
            width: 18px;
            padding-right: 7px;
            filter: invert(43%) sepia(0%) saturate(0%) hue-rotate(238deg) brightness(91%) contrast(101%);
        }
        
        a[href$="/new"]:before {
            content: url(https://discourse-cloud-file-uploads.s3.dualstack.us-west-2.amazonaws.com/techcommunitystaging/original/2X/b/b4799bcbb27ac967debde356ca79e927e3ee80cf.svg);
            height: 15px;
            width: 11px;
            padding-right: 7px;
            filter: invert(43%) sepia(0%) saturate(0%) hue-rotate(238deg) brightness(91%) contrast(101%);
        }
        
        a[href*="/unread"]:before {
            content: url(https://discourse-cloud-file-uploads.s3.dualstack.us-west-2.amazonaws.com/techcommunitystaging/original/2X/c/c2a955a9689205e282335ce4581668a369586312.svg);
            height: 15px;
            width: 18px;
            padding-right: 7px;
            filter: invert(43%) sepia(0%) saturate(0%) hue-rotate(238deg) brightness(91%) contrast(101%);
        }
        
        a[href*="/top"]:before {
            content: url(https://discourse-cloud-file-uploads.s3.dualstack.us-west-2.amazonaws.com/techcommunitystaging/original/2X/c/cc301b789d6eb36a3e162cc686d994d151500345.svg);
            height: 17px;
            width: 14px;
            padding-right: 7px;
            filter: invert(43%) sepia(0%) saturate(0%) hue-rotate(238deg) brightness(91%) contrast(101%);
        }
        
        a[href*="/categories"]:before {
            content: url(https://discourse-cloud-file-uploads.s3.dualstack.us-west-2.amazonaws.com/techcommunitystaging/original/2X/2/261fd80237dec411e2ebf6db8e75b862e60e138b.svg);
            height: 17px;
            width: 15px;
            padding-right: 7px;
            filter: invert(43%) sepia(0%) saturate(0%) hue-rotate(238deg) brightness(91%) contrast(101%);
        }
        
        a[href*="/bookmarks"]:before {
            content: url(https://discourse-cloud-file-uploads.s3.dualstack.us-west-2.amazonaws.com/techcommunitystaging/original/2X/c/ce1309c33378fbfe92e8237f4b7a5690def8005f.svg);
            height: 14px;
            width: 10px;
            padding-right: 7px;
            filter: invert(43%) sepia(0%) saturate(0%) hue-rotate(238deg) brightness(91%) contrast(101%);
        }
        
        a[href*="?max_posts=1"]:before {
            content: url(https://discourse-cloud-file-uploads.s3.dualstack.us-west-2.amazonaws.com/techcommunitystaging/original/2X/f/f2f91b6f16cce4ce6c078e68995132a86c9f7c2e.svg);
            height: 18px;
            width: 19px;
            padding-right: 7px;
            filter: invert(43%) sepia(0%) saturate(0%) hue-rotate(238deg) brightness(91%) contrast(101%);
        }
        
        a.active {
            &:before {
                filter: invert(37%) sepia(92%) saturate(4090%) hue-rotate(249deg) brightness(106%) contrast(94%);
            }
        }
        }
        
    }
}

.topic-list .topic-list-item td.num.posts button:before {
            content: url(https://discourse-cloud-file-uploads.s3.dualstack.us-west-2.amazonaws.com/techcommunitystaging/original/2X/5/5e93951b2b35f024432314bbbd9e3aaf3b9338b3.svg);
            height: 16px;
            width: 16px;
            display: inline-block;
            vertical-align: text-bottom;
            filter: invert(63%) sepia(0%) saturate(0%) hue-rotate(189deg) brightness(93%) contrast(81%);
        }
        
.navigation-container {
    #navigation-bar {
        li[title*="Knowledge base"] {
			a {
			    &:before {
                    content: url(https://discourse-cloud-file-uploads.s3.dualstack.us-west-2.amazonaws.com/techcommunitystaging/original/2X/6/650ed9750243a42705e9edd613d0fafb34242b3f.svg);
                    height: 15px;
                    width: 14px;
                    padding-right: 7px;
                    filter: invert(43%) sepia(0%) saturate(0%) hue-rotate(238deg) brightness(91%) contrast(101%);
                }
                
                &.active {
                    &:before {
                        filter: invert(37%) sepia(92%) saturate(4090%) hue-rotate(249deg) brightness(106%) contrast(94%);
                    }
                }
			}
		}
		
		li[title*="News"] {
			a {
			    &:before {
                    content: url(https://discourse-cloud-file-uploads.s3.dualstack.us-west-2.amazonaws.com/techcommunitystaging/original/2X/b/b170061043162f91c12a7e6bee1f57c10b3db411.svg);
                    height: 17px;
                    width: 17px;
                    padding-right: 7px;
                    filter: invert(43%) sepia(0%) saturate(0%) hue-rotate(238deg) brightness(91%) contrast(101%);
			    }
			    
			    &.active {
                    &:before {
                        filter: invert(37%) sepia(92%) saturate(4090%) hue-rotate(249deg) brightness(106%) contrast(94%);
                    }
                }
            }
		}
		
		li[title*="Questions"] {
			a {
			    &:before {
                    content: url(https://discourse-cloud-file-uploads.s3.dualstack.us-west-2.amazonaws.com/techcommunitystaging/original/2X/b/be64484b29d426fb04fddc6e43dc23871d1f4cd1.svg);
                    height: 17px;
                    width: 17px;
                    padding-right: 7px;
                    filter: invert(43%) sepia(0%) saturate(0%) hue-rotate(238deg) brightness(91%) contrast(101%);
			    }
			    
			    &.active {
                    &:before {
                        filter: invert(37%) sepia(92%) saturate(4090%) hue-rotate(249deg) brightness(106%) contrast(94%);
                    }
                }
            }
		}
	}
}

body.tags-page.category-forum {
    .navigation-container {
        #navigation-bar > {
            li[title="Topics that have not been answered"] {
                position: absolute;
                top: 3.5em;
                right: 10.5em;
            }
        }
    }
}

.likes {
    svg.fa.d-icon.d-icon-heart.svg-icon.svg-string {
        fill: var(--danger-low-mid);
    }
}

body.category .navigation-container #navigation-bar li {
    margin-right: 0.1em !important;
}

.d-header .d-header-icons {
	li.vdo,
	.hamburger-dropdown,
	.search-dropdown {
		.icon .svg-icon {
    			color: #011f3de0 !important;
    			width: 69%;
		}
	}
}
